<div class="modal fade" id="modal_delete_opinion" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close"
				ng-click="closeDeletePopup()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="red_bar text-center">
				<a href="index.html"><span class="logo no_float inline-block"></span></a>
				<div class="clearfix"></div>
			</div>
			<hr class="m_0">

			<div class="text-left red_check p_15">
				<h4>
					Do you really want to Delete ?
				</h4>
					<div class="clear15"></div>
					
					<button type="submit " class="btn custom_btn btn-block" ng-click="deleteOpinion()" >yes</button>
					
					<button type="submit " class="btn custom_btn btn-block" ng-click="closeDeletePopup()">No</button>
				
			</div>

			<div class="clear30"></div>

		</div>
	</div>

</div>

<div class="modal fade" id="modal_delete_response" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close"
				ng-click="closeDeletePopup()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="red_bar text-center">
				<a href="index.html"><span class="logo no_float inline-block"></span></a>
				<div class="clearfix"></div>
			</div>
			<hr class="m_0">

			<div class="text-left red_check p_15">
				<h4>
					Do you really want to Delete ?
				</h4>
					<div class="clear15"></div>
					
					<button type="submit " class="btn custom_btn btn-block" ng-click="deleteResponse()" >yes</button>
					
					<button type="submit " class="btn custom_btn btn-block" ng-click="closeDeletePopup()">No</button>
				
			</div>

			<div class="clear30"></div>

		</div>
	</div>
</div>




<div class="modal fade" id="modal_delete_comment" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close"
				ng-click="closeDeletePopup()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="red_bar text-center">
				<a href="index.html"><span class="logo no_float inline-block"></span></a>
				<div class="clearfix"></div>
			</div>
			<hr class="m_0">

			<div class="text-left red_check p_15">
				<h4>
					Do you really want to Delete ?
				</h4>
					<div class="clear15"></div>
					
					<button type="submit " class="btn custom_btn btn-block" ng-click="deleteComment()" >yes</button>
					
					<button type="submit " class="btn custom_btn btn-block" ng-click="closeDeletePopup()">No</button>
				
			</div>

			<div class="clear30"></div>

		</div>
	</div>
</div>

<div class="modal fade" id="modal_delete_not_owner" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<button type="button" class="close"
				ng-click="closeDeletePopup()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<div class="red_bar text-center">
				<a href="index.html"><span class="logo no_float inline-block"></span></a>
				<div class="clearfix"></div>
			</div>
			<hr class="m_0">

			<div class="text-left red_check p_15">
				<h4>
					!!!!!!!! User who owns is allowed to edit/delete !!!!!!
				</h4>
					<div class="clear15"></div>
					
					<button type="submit " class="btn custom_btn btn-block" ng-click="closeDeletePopup()">Cancel</button>
				
			</div>

			<div class="clear30"></div>

		</div>
	</div>

</div>