<div class="modal fade" id="privacypolicy_pop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" ng-click="closePrivacyPolicyPopup(privacypolicy)" aria-label="Close"><span aria-hidden="true">&times;</span></button>


      <div class="red_bar text-center">
        <a href="index.html"><span class="logo no_float inline-block"></span></a>
        <div class="clearfix"></div>
      </div>
      <hr class="m_0">
      <h1>coming soon.......</h1>
      <form name="privacypolicy">
      <div class="well">
        <p></p>
      </div>
</form>

    </div>
  </div>
</div>
