<div class="modal fade" id="sign_pop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" ng-click="closeSignup(signupFrmMaster)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="red_bar text-center">
        <a href="index.html"><span class="logo no_float inline-block"></span></a>
        <div class="clearfix"></div>
      </div>
      <hr class="m_0">
      <div class="text-left red_check p_15">
<!--         <h2 class="text-center">Create Your Account</h2> -->
        <ul class="nav nav-tabs register" role="tablist">
          <li role="presentation" ng-class="{active:isActiveTab(1)}"  ng-click="goToPreviousTab(1)"><a href="#create">Create Account</a></li>
          <li role="presentation" ng-class="{active:isActiveTab(2)}"  ng-click="goToPreviousTab(2)"> <a href="#basic">Basic Identity</a></li>
          <li role="presentation" ng-class="{active:isActiveTab(3)}"  ng-click="goToPreviousTab(3)"><a href="#your_pro">Your Profile</a></li>
          <li role="presentation" ng-class="{active:isActiveTab(4)}" ><a href="#done">Done</a></li>
        </ul>
        <form id="master_form" name="signupFrmMaster" ng-submit="signupFrmMaster.$valid && register(signupFrmMaster)" novalidate>
        <div class="tab-content register_bx m_0">

            <div role="tabpanel" class="tab-pane" ng-class="{active:isCurrentTab(1)}" id="create">
              <div ng-form="signupFrm1">
			  <p class="error" ng-show="signupFrmMaster.$submitted && signupFrm1.$invalid">Please fill all the mandatory fields!</p>
              <div class="animation_text m_b10">
				<!-- <label for="full_name"><i class="fa fa-user"></i> Full Name <strong>*</strong></label> -->
                <input ng-model="user.name" id="full_name" name="fullName" autocomplete="off" placeholder="Full Name *" type="text" required class="ng-touched">
              
              </div>

              <div class="animation_text m_b10 user_id">
                <!-- <label for="full_user"><i class="fa fa-at"></i> Choose user id <strong>*</strong> <span>(Minimum 8 characters) </span></label> -->
                <input ng-model="user.username" id="full_user" name="usrname" ng-pattern="usrNameFormat" autocomplete="off" placeholder="Choose user id * (Minimum 8 characters)" type="text" min="8" ng-keypress="userCheckError=false;userAvailability=false;" required>
                <span class="txt_13 red" ng-show="signupFrm1.usrname.$dirty && signupFrm1.usrname.$error.required">
      			User name is required!
     			 </span>
                <span class="txt_13 red" ng-show="signupFrm1.usrname.$error.pattern">
                  Please enter valid user name!</span>
                <button type="button" ng-click="checkUserAvailability()" ng-disabled="signupFrm1.user.username.$error">Check Availability</button>
				<p class="text-danger" ng-show="userCheckError">{{usernameErrorMsg}}</p>
				<p class="text-success" ng-show="userAvailability">{{usernameErrorMsg}}</p>
                <ul class="suge">
                  <li>raj000897</li>
                  <li>Bes00562</li>
                </ul>
              </div>

              <div class="animation_text m_b10 user_id">
			  <!-- <label for="phon_email"><i class="fa fa-envelope-o"></i> Email <strong>*</strong></label> -->
                <input ng-model="user.emailId" name="email" ng-pattern="emailFormat" id="phon_email" autocomplete="off" placeholder="Email *" type="email" ng-keypress="userEmailCheckError=false;userEmailAvailability=false;" required>
              <!--  <p class="error" ng-show="signupFrm1.email.$error.pattern">please enter valid emailId!</p> -->               
               <span class="txt_13 red" ng-show="signupFrm1.email.$dirty && signupFrm1.email.$error.required">
      			EmailId is required!
     			 </span>
                <span class="txt_13 red" ng-show="signupFrm1.email.$error.pattern">
                  Please enter valid emailId!</span>
                <button type="button" ng-click="checkEmailAvailability()" ng-hide="true">Check Availability</button>
				<p class="text-danger" ng-show="userEmailCheckError">{{userEmailErrorMsg}}</p>
				<p class="text-success" ng-show="userEmailAvailability">{{userEmailErrorMsg}}</p>
                  
                  
                </div>

              <div class="animation_text">
			  <!-- <label for="sign_pass"><i class="fa fa-unlock-alt"></i> Password <strong>*</strong><span>(Minimum 6 characters) </span></label> -->
                <input ng-model="user.password" id="sign_pass" autocomplete="off" placeholder="Password *" type="password" name="password" ng-pattern="passFormat" required></div>
              <span class="txt_13 red" ng-show="signupFrm1.password.$dirty && signupFrm1.password.$error.required">
      			Password is required!
     			 </span>
                <span class="txt_13 red" ng-show="signupFrm1.password.$error.pattern">
                  please enter password with minimum 6 characters!</span>
              <div class="clearfix"></div>
              <div class="checkbox s_check"><input id="email_sign" checked="" type="checkbox">  <label for="email_sign">Tailor Email based on my recent website visits. <a href="javascript:void(0)">Learn more.</a></label> </div>
              <div class="clearfix"></div>                
              <button type="button" id="button_tab1" ng-click="signupFrm1.$valid && setTab(2);" class="btn custom_btn btn-block basic_stp m_b15">Next</button>

              <div class="well m_0 p_10">
                <p class="gry_txt txt_13 m_0">By signing up, you agree to the
                  <a target="_blank"  href="javascript:void(0);"> Terms of Service </a>
                  and <a target="_blank" href="javascript:void(0);" ng-click="showPrivacyPolicyPopup(signupFrmMaster)">Privacy Policy</a>, including
                  <a href="javascript:void(0);" target="_blank" ng-click="showCookiePolicyPopup(signupFrmMaster)" >Cookie Use</a>.
                  Others will be able to find you by email or phone number when provided.</p>
              </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" ng-class="{active:isCurrentTab(2)}" id="basic">
              <div ng-form="signupFrm2">
              <p>Please note! The information filled on this page should be correct to use Govrnn effectively in future. You account might be suspended if this information found to be incorrect!</p> 
              <p class="error" ng-show="signupFrmMaster.$submitted && signupFrm2.$invalid">Please fill all the mandatory fields!</p>
              <div class="animation_text dob m_b10">
			  <!-- <label for="signupDob">Date of Birth</label> -->
                <input id="signupDob" ng-model="user.dob" class="datepicker" type="text" 
                data-date-end-date="0d" data-date-format="dd/mm/yyyy" placeholder="Date of Birth * (dd/mm/yyyy)" required>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="animation_text m_b10">
				  <!-- <label for="state">State</label> -->
                    <select ng-model="user.state" id="state" required>
                       <option value="">Select State</option>
                       <option value="Andaman and Nicobar Island (UT)">Andaman and Nicobar Island (UT)</option>
						<option value="Andhra Pradesh">Andhra Pradesh</option>
						<option value="Arunachal Pradesh">Arunachal Pradesh</option>
						<option value="Assam">Assam</option>
						<option value="Bihar">Bihar</option>
						<option value="Chandigarh(UT)">Chandigarh(UT)</option>
						<option value="Chhattisgarh">Chhattisgarh</option>
						<option value="Dadra and Nagar Haveli(UT)">Dadra and Nagar Haveli(UT)</option>
						<option value="Daman and Diu (UT)">Daman and Diu (UT)</option>
						<option value="Delhi (NCT)">Delhi (NCT)</option>
						<option value="Goa">Goa</option>
						<option value="Gujarat">Gujarat</option>
						<option value="Haryana">Haryana</option>
						<option value="Himachal Pradesh">Himachal Pradesh</option>
						<option value="Jammu and Kashmir">Jammu and Kashmir</option>
						<option value="Jharkhand">Jharkhand</option>
						<option value="Karnataka">Karnataka</option>
						<option value="Kerala">Kerala</option>
						<option value="Lakshadweep(UT)">Lakshadweep(UT)</option>
						<option value="Madhya Pradesh">Madhya Pradesh</option>
						<option value="Maharashtra">Maharashtra</option>
						<option value="Manipur">Manipur</option>
						<option value="Meghalaya">Meghalaya</option>
						<option value="Mizoram">Mizoram</option>
						<option value="Nagaland">Nagaland</option>
						<option value="Odisha">Odisha</option>
						<option value="Puducherry(UT)">Puducherry(UT)</option>
						<option value="Punjab">Punjab</option>
						<option value="Rajasthan">Rajasthan</option>
						<option value="Sikkim">Sikkim</option>
						<option value="Tamil Nadu">Tamil Nadu</option>
						<option value="Telangana">Telangana</option>
						<option value="Tripura">Tripura</option>
						<option value="Uttarakhand">Uttarakhand</option>
						<option value="Uttar Pradesh">Uttar Pradesh</option>
						<option value="West Bengal">West Bengal</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="animation_text m_b10">
                  <input ng-model="user.city"  id="city"  placeholder="City (Mandatory)" required>
				  <!-- <label for="city">City</label> -->
<!--                     <select ng-model="user.city" id="city" required> -->
<!--                       <option value="">Typect City</option> -->
<!--                       <option value="Mohali">Mohali</option> -->
<!--                       <option value="Ropar">Ropar</option> -->
<!--                     </select> -->
                  </div>
                </div>
              </div>

              <div class="row m_b15">
                <div class="col-md-6">
                  <div class="animation_text m_b10">
				  <!-- <label for="Religion">Religion</label> -->
                    <select ng-model="user.religion" id="Religion" required>
                      <option value="">Select Religion</option>
                      <option value="Hinduism">Hinduism</option>
                      <option value="Jainism">Jainism</option>
                      <option value="Buddhism">Buddhism</option>
                      <option value="Islam">Islam</option>
                      <option value="Sikhism">Sikhism</option>
                      <option value="Christianity">Christianity</option>
                      <option value="Parsi">Parsi</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="animation_text m_b10">
                  <input ng-model="user.caste" id="caste"  placeholder="Type Caste (Optional)">
				  <!-- <label for="caste">Caste <span>(Optional)</span></label> -->
<!--                     <select ng-model="user.caste" id="caste"> -->
<!--                       <option value="">Select Caste</option> -->
<!--                       <option value="Shukla">Shukla</option> -->
<!--                       <option value="Thakur">Thakur</option> -->
<!--                       <option value="Yadav">Yadav</option> -->
<!--                       <option value="Sharma">Sharma</option> -->
<!--                     </select> -->
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="animation_text m_b10">
				  <!-- <label for="edu">Highest Qualification</label> -->
                    <select ng-model="user.qualification" id="edu" required>
                      <option value="">Select Qualification</option>
                      <option value="Post Graduate or Above">Post Graduate or Above</option>
                      <option value="Undergraduate or Diploma">Undergraduate or Diploma</option>
                      <option value="Intermediate (12th)">Intermediate (12th)</option>
                      <option value="Higher Secondary (10th) or Below">Higher Secondary (10th) or Below</option>
                    </select>
                  </div>
                </div>
              </div>
              <p class="inline bold">Gender</p>
              <ul class="inline m_0 nav">
                <li class="sty_rad"><input ng-model="user.gender" value="male" id="let_peop" type="radio" required><label for="let_peop">Male</label></li>
                <li class="sty_rad"><input ng-model="user.gender" value="female" id="quick" type="radio" required><label for="quick">Female</label></li>
              </ul>
              <div class="clearfix"></div>
              <br>
              <p class="inline bold">Marital Status</p>
              <ul class="inline m_0 nav">
                <li class="sty_rad"><input ng-model="user.maritalStatus" value="married" id="mar" type="radio" required><label for="mar">Married</label></li>
                <li class="sty_rad"><input ng-model="user.maritalStatus" value="unmarried" id="unmar" type="radio" required><label for="unmar">Unmarried</label></li>
              </ul>
              <div class="clearfix"></div>
			  <div clas="row">
				<div class="col-md-3">
					<button type="button" class="btn custom_btn btn-block pro_stp m_t10" ng-click="setTab(1)">Back</button>
				</div>
				<div class="col-md-6">
					<button type="submit" class="btn custom_btn btn-block pro_stp m_t10">Create Basic Profile</button>
				</div>
				<div class="col-md-3">
					<button type="button" ng-click="signupFrm2.$valid && setTab(3)" class="btn custom_btn btn-block pro_stp m_t10">Next</button>
				</div>
			  </div>
            </div>
            </div>

            <div role="tabpanel" class="tab-pane" ng-class="{active:isCurrentTab(3)}" id="your_pro">
              <div ng-form="signupFrm3">
              <div class="text-center m_b10"><a href="javascript:void(0)" class="green">Fed up with filling form <b>SKIP REST</b> of Page</a></div>
              <div class="your-pro-sign">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" ng-class="{active:isCurrentSubTab(1)}"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">About You</a></li>
                  <li role="presentation" ng-class="{active:isCurrentSubTab(2)}"><a href="#cont_det" aria-controls="cont_det" role="tab" data-toggle="tab">Contact</a></li>
                  <li role="presentation" ng-class="{active:isCurrentSubTab(3)}"><a href="#pro_pic" aria-controls="pro_pic" role="tab" data-toggle="tab">Profile Picture</a></li>
<!--                   <li role="presentation" ng-class="{active:isCurrentSubTab(4)}"><a href="#polic_view" aria-controls="polic_view" role="tab" data-toggle="tab">Political View</a></li> -->
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane" ng-class="{active:isCurrentSubTab(1)}" id="about">
                    <div class="box_input">
                      <textarea ng-model="user.summary" id="summ" class="form-control min_h150" placeholder="Summary"></textarea>
					  <span class="pull-right"><strong>Char limit: </strong> 500</span>
                    </div>
                    <div class="animation_text m_b10">
					<!-- <label for="Website"><i class="fa fa-globe"></i> Website</label> -->
                      <input ng-model="user.website" id="Website" autocomplete="off" placeholder="Website" type="text"></div>

<!--                     <div class="animation_text user_id m_b10"><label for="achiv"><i class="fa fa-certificate"></i> Achievements</label> -->
<!--                       <input ng-model="user.achievements" id="achiv" autocomplete="off" placeholder="" type="text"> -->
<!--                       <button type="submit">Add More..</button>
						</div> -->

                    <div class="animation_text user_id m_b10">
					<!-- <label for="quali"><i class="fa fa-graduation-cap"></i> Qualification</label> -->
                      <input ng-model="user.qualification" id="quali" autocomplete="off" placeholder="Qualification" type="text">
<!--                       <button type="submit">Add More..</button> -->
					</div>

                    <!--<a class="btn custom_btn  pro_stp m_t10 btn-block pull-right" href="#">Next <i class="fa fa-angle-double-right"></i></a>-->
<!--                     <button type="button" class="btn custom_btn  m_t10 btn-block pull-right" ng-click="setSubTab(2)">Fill Contacts <i class="fa fa-angle-double-right"></i></button> -->
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" ng-class="{active:isCurrentSubTab(2)}" id="cont_det">
                    <p class="alert alert-warning">We will not share your contact detail without your permission.</p>
                    <div class="animation_text has_txt m_b10">
					<!-- <label for="email_id"><i class="fa fa-envelope-o"></i> Email ID</label> -->
                      <input ng-model=user.emailId  type="email" id="email_id" autocomplete="off" placeholder="Email ID" Value="" ></div>
                    <div class="animation_text m_b10">
					<!-- <label for="mob_nu"><i class="fa fa-mobile"></i> Mobile Number</label> -->
                      <input ng-model="user.mobileNumber" id="mob_nu" autocomplete="off" placeholder="Mobile Number" type="text"></div>
					<div class="clearfix"></div>
<!-- 					<div class="well"> -->
<!-- 						<h4>In Emergency whom should we contact</h4> -->

<!-- 						<div class="animation_text m_b10"><label for="eme_person_v1"><i class="fa fa-user"></i> Person Name</label><input id="eme_person_v1" autocomplete="off" placeholder="" type="text"></div> -->

<!-- 						<div class="animation_text user_id m_b10"><label for="eme_person_v2"><i class="fa fa-mobile"></i> Contact Number</label><input id="eme_person_v2" autocomplete="off" placeholder="" type="text"> -->
<!-- 							<button type="submit">Add More..</button> -->
<!-- 						</div>  -->

<!-- 						<div class="clearfix"></div> -->

<!-- 					</div>   -->
                    <div class="animation_text m_b10">
					<!-- <label for="address"><i class="fa fa-home"></i> Address</label> -->
                      <input ng-model="user.address" id="address" autocomplete="off" placeholder="Address" type="text"></div>

                    <div class="animation_text m_b10">
						<!-- <label for="facebook"><i class="fa fa-facebook"></i> Facebook Profile Link</label> -->
						<input id="facebook" ng-model="user.faceBookEmail" autocomplete="off" placeholder="Facebook Profile Link" type="text">
					</div>
                    <div class="animation_text m_b10">
						<!-- <label for="twitter"><i class="fa fa-twitter"></i> Twitter Profile Link</label> -->
						<input id="twitter" ng-model="user.twitterEmail" autocomplete="off" placeholder="Twitter Profile Link" type="text">
					</div>
                    <div class="animation_text m_b10">
						<!-- <label for="google+"><i class="fa fa-google-plus"></i> Google+ Profile Link</label> -->
						<input id="googleplus" ng-model="user.googlePlusEmail" autocomplete="off" placeholder="Google+ Profile Link" type="text">
					</div>
                    <!-- <a class="btn custom_btn  pro_stp m_t10 btn-block pull-right" href="#">Next <i class="fa fa-angle-double-right"></i></a> -->
					<!-- <button type="button" class="btn custom_btn  m_t10 btn-block pull-right" ng-click="setSubTab(3)">Upload Profile Images <i class="fa fa-angle-double-right"></i></button> -->
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" ng-class="{active:isCurrentSubTab(3)}" id="pro_pic">

                    <label class="norm_txt" for="upload_pic">Upload profile Picture (2MB max )</label>
                    <input ng-model="userImage" get-user-image-file-object id="upload_pic" type="file" class="">


                    <label class="norm_txt m_t15" for="alb_pic">Album Picture (2MB max)</label>
                    <input ng-model="albumImage" get-album-image-file-object id="alb_pic" type="file" class="">
<!-- 					<button type="button" class="btn custom_btn  m_t10 btn-block pull-right" ng-click="setSubTab(4)">Fill Political View <i class="fa fa-angle-double-right"></i></button> -->
                    <!-- <a class="btn custom_btn  pro_stp m_t10 btn-block pull-right" href="#">Next <i class="fa fa-angle-double-right"></i></a> -->
                    <div class="clearfix"></div>
                  </div>
                  <div role="tabpanel" class="tab-pane" ng-class="{active:isCurrentSubTab(4)}" id="polic_view">
                    <div class="box_input">
                      <textarea ng-model="user.politicalViews" class="min_h150 form-control" placeholder="Summary"></textarea>
                    </div>
                    <div class="animation_text user_id m_b10">
						<!-- <label for="assoc"><i class="fa fa-certificate"></i> Assocation</label> -->
						<input id="assoc" autocomplete="off" placeholder="Assocation" type="text">
					</div>

                    <!-- <a class="btn custom_btn  pro_stp m_t10 btn-block pull-right" href="#">Next <i class="fa fa-angle-double-right"></i></a> -->
                    <!-- <a class="btn custom_btn  pro_stp m_t10 btn-block pull-right" href="#">Next <i class="fa fa-angle-double-right"></i></a> -->
                    <div class="clearfix"></div>
                  </div>
				  <div clas="row">
					<div class="col-md-3">
						<button type="button" class="btn custom_btn btn-block pro_stp m_t10" ng-click="setTab(2)">Back</button>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn custom_btn btn-block m_t10">Signup</button>
					</div>
					<div class="col-md-5">
						<button type="submit" ng-click="signupFrm2.$valid && setTab(4)" class="btn custom_btn btn-block m_t10">Skip & Signup</button>
					</div>
				  </div>
                </div>
              </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" ng-class="{active:isCurrentTab(4)}" id="done">
              <div class="alert alert-success" role="alert">
                <h2 class="green">Congratulation!</h2>
                We’re glad you’re here, <span class="red txt_18">{{newUserName}}</span>
                <p>An email has been sent to your email account for verification. Please login to your email account and verify the email id.</p>
                <p>Govrnn is a constantly updating stream of the coolest, most important news, media, conversations and more - all tailored just for you.
                  Tell us about all the stuff you love and we’ll help you get set up.</p>
				<button type="submit" ng-click="closeSignup(signupFrmMaster)" class="btn custom_btn red">Done</button>  
              </div>
              <div class="clearfix"></div>
<!-- 				<a href="javascript:void(0)" class="alert alert-warning txt_18 m_b20 col-sm-12 text-center">Don't forget refer your friends & Earn $200.</a> -->
				<div class="clearfix"></div>
				<div class="text-center">
				<img src="images/pop_sign.png" alt="">
			  </div>
              <div class="clearfix"></div>
            </div>
          <div class="clearfix"></div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
