<div class="modal fade " id="opinion_plain" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
    <div class="modal-dialog opinion_one opinion_plain" role="document">
        <div class="modal-content opinion_nxt_step" ng-hide="createOpinionStatus">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeOpinionPopup(opinionFrm);"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your Opinion on Sentiment &nbsp; {{selectedSntmt.subject}}</h4>
            </div>
            <div class="alert alert-danger" ng-show="createOpinionHasError">
                <strong>Error: </strong> {{createOpinionError}}
            </div>
            <div class="modal-body" ng-hide="createOpinionStatus && !createOpinionHasError"  style="width:695px;height:550px;overflow-y:visible;overflow-x: hidden;" >
                <div ng-show="hideSearch" id="sentimentDesc">
                    <img id="compntImage" ng-src="{{selectedComponent.image}}" data-holder-rendered="true" class="pop_img_left" alt="">
                    <h2>{{selectedComponent.subject}}</h2>
                    <p read-more rm-max="300" rm-text="{{selectedComponent.description}}"></p>
                </div>
                <div ng-hide="hideSearch" class="choose_sent">
                    <label>Search/select sentiment related to your opinion</label>
                    <span ng-show="searchError" class="error">Unable to find sentiment. you can also use dropdown.</span>
                    <!-- class="typeahead tt-query" -->
                    <input id="searchSentFrmInput" ng-model="searchInput" class="typeahead tt-query" type="text"  placeholder="Choose Sentiment" autocomplete="off" spellcheck="false">

                    <datalist id="sentimentSuggestion">
                        <option ng-repeat="sentiment in sentimentSearchResult" clicky="selectSentiment($index)" value="{{sentiment.title}}">
                    </datalist>

                    <div class="dropdown left-bx">
                        <button id="sentimentDropDwn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                        <ul class="dropdown-menu opinion-drpdwn" aria-labelledby="sentimentDropDwn">
                            <li ng-repeat="curSnt in sentimentsForSearch | filter: searchInput" ng-click="findSentiment(curSnt.id);"><a href="javascript:void(0)">{{curSnt.subject}}</a></li>
                        </ul>
                    </div>

                </div>

                <div class="vote reset-holder" ng-hide="searchStatus">
                    <label>Please select a sentiment.</label>
				</div>	
                <div class="reset-holder" ng-show="searchStatus && needReset">
					<div class="tick-img" >
						<img src="/images/tick.png" alt="tick icon" />
					</div>
					<div class="reset-sntmt" >
						<a href="javascript:valid(0)" ng-click="resetOpinionPopup(opinionFrm);" title="Reset Sentiment">Reset Opinion<button type="button" class="close"><span aria-hidden="true">×</span></button></a>
					</div>
                </div>
                <div class="clearfix"></div>
				<div class="senti_bx" ng-show="searchStatus">
					<div ng-hide="hideSearch" id="sentimentDesc">
						<p read-more rm-max="300" rm-text="{{selectedComponent.description}}"></p>
					</div>
					<div class="opn-left">
						<label><span class="bold-txt" >I have opinion in </span>
						</label>
					</div>
					<div class="opn-middle">
						&nbsp;<a href="javascript:void(0)" ng-click="searchStatus && supportOrAgainst(true)" class="btn btn-support" ng-class="{'btn-grey': isAgainstClicked}"  ng-disabled="!searchStatus"><i class="fa fa-plus-circle"></i> Support</a>
						<img src="/images/slash.png" class="separator-img"/>
						<a href="javascript:void(0)" ng-click="searchStatus && supportOrAgainst(false)" class="btn btn-against" ng-class="{'btn-grey': isSuportClicked}"  ng-disabled="!searchStatus"><i class="fa fa-minus-circle"></i> Against</a>
					</div>
					<div class="opn-right">
						<span class="bold-txt">Govt regarding - {{selectedSntmt.subject}}</span>
					</div>
				</div>
                <div class="selected-senti">
                    <div class="opin_on">
                        <label>Please select applicable category for your opinion&nbsp;<a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Choose the most relevant category for your opinion" href="javascript:void(0)"><i class="fa fa-question-circle"></i></a></label>
						<div class="clearfix"></div>
                        <ul class="list_item_bx">
                            <li ng-repeat=" category in selectedSntmt.categoryOutputModels">
                                <a ng-class="{'active': $first}" ng-init="$first && setCategory(category.id, $event)" href="javascript:void(0)" ng-click="setCategory(category.id, $event);">{{category.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="senti_bx">
						<p>What do people think on <span class="bold-txt">{{selectedSntmt.subject}}</span> issues & actions taken by government?</p>
						<div class="opinion_aggr_score">
							<p class="left" style=>Support Government- {{selectedSntmt.opinionAggregation.support}}%</p>
							<p class="right">Against Government- {{selectedSntmt.opinionAggregation.against}}%</p>
						</div>
						<div class="poll_out opinion_poll_out" ng-class="{poll_out_green:(selectedSntmt.opinionAggregation.support > 0)}">
							<div class="run" style="width:{{selectedSntmt.opinionAggregation.support}}%;"></div>
						</div>
                     
                    </div>
                    <div class="clear_spac"></div>
					<div class="sugest related" ng-show="opinionImages.length>0">
					<p class="error" ng-show="opnImgSrchError" style="margin:0">Unable to find a image!</p>
					<h2 class="opn-img-title">Select a related opinion image from the list below</h2>
<!-- 					<input class="form-control opn-img-search" maxlength="200" ng-model="SearchImg"  placeholder="Search" ng-keypress="changesearchtext($event)"/> -->
<!-- 					 <span><i class="fa fa-times" aria-hidden="true" ng-click="clearSearcghtext();" style="    position: relative; right: 25px;"></i></span> -->
<!-- 					<input class="btn opn-img-upload" id="uploadOpnImgBtn" type="file" accept="image/png, image/jpg"  -->
<!-- 					onchange="angular.element(this).scope().uploadOpnFile(this)" ng-model="uploadOpnImg" style="display:none;" /> -->
<!-- 					<button class="btn opn-img-upload" ng-click="openFile();">Upload</button> -->
					
					<div id="carousel-opinion-imgs" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<!-- <label>Choose Permanent Sentiment from list below</label> -->
								<div ng-repeat="opnImage in opinionImages" class="item" ng-class="{active: $first}">
									<div class="col-xs-4 selec" ng-show="opnImage.first" id="opnImg_{{$index}}_first" init-carosoul>
										<div class="cont_txt">
										<a href="javascript:void(0);" ng-click="setOpinionImage(opnImage.first,$index,'_first');">
											<img ng-src="{{opnImage.first}}" alt="" height="100px">
										</a>
										</div>
									</div>
									<div class="col-xs-4 selec" ng-show="opnImage.second" id="opnImg_{{$index}}_second">
										<div class="cont_txt">
										<a href="javascript:void(0);" ng-click="setOpinionImage(opnImage.second,$index,'_second');">
											<img ng-src="{{opnImage.second}}" alt="" height="100px">
										</a>
										</div>
									</div>
									<div class="col-xs-4 selec" ng-show="opnImage.third" id="opnImg_{{$index}}_third">
										<div class="cont_txt">
										<a href="javascript:void(0);" ng-click="setOpinionImage(opnImage.third,$index,'_third');">
											<img ng-src="{{opnImage.third}}" alt="" height="100px">
										</a>
										</div>
									</div>
								</div>
							</div>

							<a class="left carousel-control" href="javascript:void(0);" role="button" ng-click="prev('#carousel-opinion-imgs')">
								<span class="fa fa-angle-left" aria-hidden="true"></span>
							</a>
							<a class="right carousel-control" href="javascript:void(0);" role="button" ng-click="next('#carousel-opinion-imgs')">
								<span class="fa fa-angle-right" aria-hidden="true"></span>
							</a>
						</div>
					</div>
					 
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <form name="opinionFrm" id="opinionFrm" ng-submit="opinionFrm.$valid && createOpinion(opinionFrm)" novalidate>
                        							<div class="row">
								<div class="col-sm-12">
									<h2>Your Opinion</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
						                <input id="Subject"  ng-model="opinion.subject" class="form-control" maxlength="200" placeholder="Enter subject for your opinion" required/>
                                        <span class="count_down"><strong>Char Left:</strong> {{200 - opinion.subject.length}}</span>
                                        <div class="clearfix"></div>
                                        <div class="round_text_file red_check small_hlf">
                                            <p id="pinningOpinion" contenteditable maxlength="1500" ng-model="opinion.text" strip-br="true" class="tribute-demo-input" placeholder="Type your opinion here" required></p>
                                            <div class="clearfix"></div>
                                        </div>
										<span class="count_down"><strong>Char Left:</strong> {{1500 - opinion.text.length}}</span>
										<span class="count_down red" ng-show="opinion.text.length >500"><strong>  &nbsp; Opinion text is Growing Large  &nbsp;</strong> </span>
								</div>
							</div>
                        	<div class="row">
								<div class="col-sm-12">
								<h2>Please provide supporting link as reference to support your opinion</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<input ng-model="opinion.link.link" type="text" class="form-control" placeholder="Please provide supporting link" >
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<input ng-model="opinion.link.description" type="text" class="form-control" placeholder="Please provide summary about the link" maxlength="200">
										<span class="count_down"><strong>Char Left:</strong> {{200 - opinion.link.description.length}}</span>
									</div>
								</div>
							</div>
                            
                            <div class="modal-body two">
                                <button type="submit" class="custom_btn btn_small next_pop">Raise Opinion</button>
                                <button type="button" class="custom_btn btn_small" ng-click="closeOpinionPopup(opinionFrm);">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <div id="shadow-backdrop" ng-hide="searchStatus && opinionActionStatus"></div>
                </div>
            </div>
        </div>
        <!------------------rebut page code start here--------------------->
        <div class="modal-content rebut_page"  ng-show="createOpinionStatus">
            <div class="skip_conti header">
                <div class="alert alert-success">
                    <strong>Success!</strong> You have posted new opinion successfully.
                </div>
                <a href="javascript:void(0)" ng-click="closeOpinionPopup(opinionFrm);" class="skip_link">Skip &amp; Return On Sentiment</a>
            </div>
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeOpinionPopup(opinionFrm);"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rebut the Opinions - {{selectedSntmtTitle}}</h4>
            </div>
            <div class="modal-body">
                <div class="rebut_opinion" ng-repeat="opinion in opinionsForRebut">
                    <div class="image_bx">
                        <img ng-hide="opinion.imageUrl" ng-src="data:image/jpg;base64,{{opinion.image}}" alt="">
					    <img ng-show="opinion.imageUrl" ng-src="{{opinion.imageUrl}}" alt="">
					    <span ng-class="(opinion.type == 'Pro') ? 'govt_opinion supp' : 'govt_opinion anti'">{{opinion.type}} Govt Opinion</span>
                    </div>
                    <div class="right_reb_bx">
                        <div class="user_txt"><img ng-src="data:image/png;base64,{{opinion.user.image}}" alt=""><h2>{{opinion.user.name}}<span>({{opinion.user.userName}})</span></h2></div>
                        <ul class="right_top_bx">
                            <li><i class="fa fa-map-marker"></i> {{opinion.user.currentLocation}}</li>
                            <li><i class="fa fa-clock-o fa-6"></i> {{opinion.formattedAge}}</li>
                        </ul>
                        <div class="clearfix"></div>
                        <h2>{{opinion.subject}}</h2>
                        <p ng-bind-html="opinion.text"></p>
                        <div class="clearfix"></div>
                        <div class="text-center">
                            <label>Respond Opinion:</label>
                            <a class="{{(opinion.type == 'Pro') ? 'org_btn' : 'grn_btn'}}"
							href="javascript:void(0)" 
							ng-click="setVote($index,opinion.agreePollId); agreeClicked=true;  disAgreeClicked=false; responseStatus=false;" 
							ng-init="agreeClicked=false" ng-class="{'btn-grey': disAgreeClicked}">Agree with Opinion</a>
                            <a class="{{(opinion.type == 'Pro') ? 'grn_btn' : 'org_btn'}}"
							href="javascript:void(0)" 
							ng-click="setVote($index,opinion.disAgreePollId); disAgreeClicked=true; agreeClicked=false; responseStatus=false;" 
							ng-init="disAgreeClicked=false" ng-class="{'btn-grey': agreeClicked}">Disagree with Opinion</a>
                            <a class="see_res" href="javascript:void(0)" ng-click="viewOpinion(opinion.id, opinionFrm)">See All Responses</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="box_comment" ng-init="userResponse; responseStatus=false;">
                        <p class="success" ng-show="responseStatus && masterResponseStatus">Your response has been created successfully.</p>
                        <img ng-src="{{getUserImage()}}" class="user_comment" alt="">
                        <!-- <textarea id="response_{{$index}}" placeholder="Click on agree or disagree button to write a comment" required></textarea> -->
                        <!-- <p class="rebut-error"></p> -->
                        <p id="rebut_resp_{{$index}}"  init-callback contenteditable="false" strip-br="true" class="response-input rebut-response" 
						ng-model="userResponse" placeholder="Enter your response here." maxlength="500" required></p>
                        <input type="hidden" id="rebut_vote_{{$index}}" />
                      	<div class="press">
                            <input type="button" ng-click="addResponse($index, opinion.id); disAgreeClicked=false; agreeClicked=false; responseStatus=true;"  
							value="Submit" class="custom_btn btn_small inline" ng-disabled="(!agreeClicked && !disAgreeClicked) || !userResponse.length"/>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="javascript:void(0)" ng-click="viewAllOpinions(opinionFrm,selectedSntmtId);" class="custom_btn small-btn inline">View More Opinions</a>
                </div>
            </div>
        </div>
    </div>
</div>