<div class="solve_problem">
   <div class="row">
      <div class="col-sm-12" style="min-height: 400px;">
         <h4>Cookies and other storage Technologies</h4>
         <h6>
         <p>Cookies are small pieces of text used to store information on web browsers. Cookies are used to store and receive identifiers and other information on computers, phones, and other devices. Other technologies, including data we store on your web browser or device, identifiers associated with your device, and other software, are used for similar purposes. In this policy, we refer to all of these technologies as &quot;cookies&quot;. </p></br>
         
         <p>We use cookies if you have a Govrnn account, use the Govrnn Services, including our website and apps (whether or not you are registered or logged in), or visit other websites and apps that use the Govrnn Services (including the Like button or our advertising tools). This policy explains how we use cookies and the choices you have.</p>
         
         <p><b>Why do we use cookies?</b></p>
         
         <p>Cookies help us provide, protect and improve the Govrnn Services, such as by personalizing content, tailoring and measuring ads, and providing a safer experience. While the cookies that we use may change from time to time as we improve and update the Govrnn Services, they generally fall into the below categories of use:</p>
         
         <p> <b>Authentication: </b> </br>
We use cookies to verify your account and determine when you&apos;re logged in so we can make it easier for you to access the Govrnn Services and show you the appropriate experience and features.
For example: We use cookies to keep you logged in as you navigate between Govrnn pages. Cookies also help us remember your browser so you do not have to keep logging into Govrnn and so you can more easily log into Govrnn via third-party apps and websites.
         </p>
         
         <p>
         <b>Security, site and product integrity</b></br>
We use cookies to help us keep your account, data and the Govrnn Services safe and secure.
For example: Cookies can help us identify and impose additional security measures when someone may be attempting to access a Govrnn account without authorization, for instance, by rapidly guessing different passwords. We also use cookies to store information that allows us to recover your account in the event you&apos;ve forgotten your password or to require additional authentication if you tell us your account has been hacked.</br>
We also use cookies to combat activity that violates our policies or otherwise degrades our ability to provide the Govrnn Services.</br>
For example: Cookies help us fight spam and phishing attacks by enabling us to identify computers that are used to create large numbers of fake Govrnn accounts. We also use cookies to detect computers infected with malware and to take steps to prevent them from causing further harm. Cookies also help us prevent underage people from registering for Govrnn accounts.
  </p>  
  
  <p>
  <b>Advertising, insights and measurement</b></br>
We use cookies to help us show ads for businesses and other organizations to people who may be interested in the products, services or causes they promote.
  </br>
  For example: Cookies allow us to help deliver ads to people who have previously visited a business&apos;s website, purchased its products or used its apps. Cookies also allow us to limit the number of times that you see an ad so you don&apos;t see the same ad over and over again
  </br>
  We also use cookies to help measure the performance of ad campaigns for businesses that use the Govrnn Services.
  </br>
  For example: We use cookies to count the number of times an ad is shown and to calculate the cost of those ads. We also use cookies to measure how often people do things like click on or view ads.
  </br>
  Cookies help us serve and measure ads across different browsers and devices used by the same person.</br>
  For example: We can use cookies to prevent you from seeing the same ad over and over again across the different devices that you use.</br>
  Cookies also allow us to provide insights about the people who use the Govrnn Services, as well as, the people who interact with the ads, websites, and apps of our advertisers and the businesses that use the Govrnn Services.</br>
  For example: We use cookies to help businesses understand the kinds of people who like their Govrnn page or use their apps so they can provide more relevant content and develop features that are likely to be interesting to their customers.</br>
  We also use cookies to help you opt out of seeing ads from Govrnn based on your activity on third-party websites. Learn more about the information we receive, how we decide which ads to show you on and off the Govrnn Services, and the controls available to you.
  </p> 
  
  <p>
  <b>Site features and services</b></br>
  We use cookies to enable the functionality that helps us provide the Govrnn Services</br>
  For example: Cookies help us store preferences, know when you&apos;ve seen or interacted with Govrnn Services content, and provide you with customized content and experiences. For instance, cookies allow us to make suggestions to you and others, and to customize content on third-party sites that integrate our social plugins. If you are a page administrator, cookies allow you to switch between posting from your personal FB account and the page.
  </br>
  We also use cookies to help provide you with content relevant to your locale.</br>
  For example: We store information in a cookie that is placed on your browser or device so you will see the site in your preferred language.
  </p>  
  
  <p>
  <b>Performance</b></br>
  We use cookies to provide you with the best experience possible.</br>
  For example: Cookies help us route traffic between servers and understand how quickly Govrnn Services load for different people. Cookies also help us record the ratio and dimensions of your screen and windows and know whether you&apos;ve enabled high contrast mode, so that we can render our sites and apps correctly.
  </p>  
  
  <p>
  <b>Analytics and research</b></br>
  We use cookies to better understand how people use the Govrnn Services so that we can improve them.</br>
For example: Cookies can help us understand how people use the Govrnn Service, analyze which parts of the Govrnn Services people find most useful and engaging, and identify features that could be improved.
  </p>
  
  <p>
  <b>Where do we use cookies?</b></br>
  We may place cookies on your computer or device, and receive information stored in cookies, when you use or visit: </br>
  	&clubs;The Govrnn Services;</br>
  		&clubs;Services provided by other members of the Govrnn family of companies; and</br>
  			&clubs; Services provided by other companies that use the Govrnn Services (such as companies that incorporate the Like button or Govrnn&apos;s advertising services into their websites and apps).</br>
  			We may also set and receive information stored in cookies from other domains used by the Govrnn family of companies, including the atdmt.com, liverail.com and Instagram.com domains.
  </p>
  
  <p>
  <b>Do other parties use cookies in connection with the Govrnn Services?</b></br>
  Yes, other parties may use cookies on the Govrnn Services to provide services to us and the businesses that advertise on Govrnn. </br>
  For example, our measurement partners use cookies on the Govrnn Services to help advertisers understand the effectiveness of their Govrnn advertising campaigns and to compare the performance of those campaigns to ads displayed on other websites and apps. Learn more about the companies that use cookies on the Govrnn Services. </br>
  Third parties also use cookies on their own sites and apps in connection with the Govrnn Services. To understand how other parties use cookies, please review their policies.
  </p>
  
  <p>
  <b>How can you control Govrnn&apos;s use of cookies to show you ads?</b></br>
  One of the ways we use cookies is to show you useful and relevant ads on and off Govrnn. You can control how we use data to show you ads by using the tools described below.</br>
  <b>If you have a Govrnn Account:</b></br>
  	&clubs;You can use your ad preferences to learn why you&apos;re seeing a particular ad and control how we use information we collect to show you ads.</br>
  		&clubs;Some of the ads you see are based on your activity on websites and apps beyond the Govrnn family of companies. We call this online interest-based advertising. You can control whether you see online interest-based ads from Govrnn in your ad settings.</br>
  			&clubs;The Govrnn Audience Network is a way for advertisers to show you ads in apps and websites beyond the Govrnn family of companies. One of the ways Audience Network shows relevant ads is by using your ad preferences to determine which ads you may be interested in seeing. You can control this in your ad settings.
  			</br>
  </p>
  
  <p>
  <b>Everyone:</b></br>
  You can opt out of seeing online interest-based ads from Govrnn and other participating companies through the Digital Advertising Alliance in the US, the Digital Advertising Alliance of Canada in Canada, or the European Interactive Digital Advertising Alliance in Europe or through your mobile device settings.
  </br>
  <b>More information about online advertising:</b></br>
  The advertising companies we work with generally use cookies and similar technologies as part of their services. To learn more about how advertisers generally use cookies and the choices they offer, you can review the following resources: </br>
  &clubs;Digital Advertising Alliance </br>
  &clubs;Digital Advertising Alliance of India
  </p>
  
  <p>
  <b>Browser cookie controls:</b></br>
  In addition, your browser or device may offer settings that allow you to choose whether browser cookies are set and to delete them. For more information about these controls, visit your browser or device's help material. Certain parts of the Govrnn Services may not work properly if you have disabled browser cookie use.
  </p>
  
  
         </h6>
      </div>
   </div>
</div>