
<!--  Home page starts here-->
<div class="custom_row">
	<div class="l_75">
		<div class="trend">
			<div class="heading_txt">
				Top Trends <span> & News 
				</span>
			</div>
			<div class="right_section">
				<ul class="trend_list">
					<li ng-repeat="trend in topAdminTrends"><a href="{{trend.url}}">{{trend.title}}</a>
					</li>
				</ul>
				<div class="clearfix"></div>
				<marquee direction="left" SCROLLAMOUNT=6>
					<a ng-repeat="news in dailyNews" href="{{news.link}}" target="_blank" >{{news.title}}&nbsp;&nbsp;</a>
				</marquee>
			</div>
		</div>
	</div>
	<div class="l_25">
		<div class="impress">
			<div id="carousel-newlyjoined" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item" ng-class="{active:$first}" ng-repeat="latestUser in latestUsers">
						<div class="dis_pic">
							<a href="/#/personality?id={{latestUser.id}}">
								<img ng-src="data:image/png;base64,{{latestUser.image}}" alt="">
							</a>
						</div>
						<div class="right_txt">
							<h2>Joined Govrnn <span><i class="fa fa-clock-o"></i> {{latestUser.formattedAge}} </span>
							</h2>
							<div style="font-size:12px"><a href="/#/personality?id={{latestUser.id}}">{{latestUser.name}}</a></div>
							<div style="font-size:12px">{{latestUser.sex}}, {{latestUser.ageString}}</div>
							<div style="font-size:12px">{{latestUser.city}}, {{latestUser.state}}</div>
						</div>
					</div>	
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="javascript:void(0)" role="button" ng-click="prev('#carousel-newlyjoined')"> 
				<span class="fa fa-angle-left" aria-hidden="true"></span>
				</a> <a class="right carousel-control" href="javascript:void(0)" role="button" ng-click="next('#carousel-newlyjoined')"> <span class="fa fa-angle-right" aria-hidden="true"></span>
				</a>
			</div>
		</div>

	</div>
</div>
<div class="custom_row p_t15 collapse_sec">
	<div class="l_75">
		<div id="chartContainer" style="height: 400px; width: 100%;">
			<myelem></myelem>
		</div>
	</div>
    <div class="l_25">

		<!-- Nav tabs -->
	<div class="opn-pool-title"><p>Opinion pool</p></div>
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				{{opinionOutputModels}}
				<ul ng-repeat=" model in  opinionOutputModelsSets">
					<li>
						<span class="left-side"> 
							<a href="#/viewOpinion?id={{model.id}}">
							<img ng-hide="model.imageUrl"  ng-src="data:image/png;base64,{{model.image}}" alt="">
							<img ng-show="model.imageUrl"  ng-src="{{model.imageUrl}}" alt="" />
							</a> 
							<a href="#" ng-class="(model.type == 'Pro') ? 'pro verd_sup' : 'anti verd_sup'">{{model.type}} Govt</a>
						</span> 
						<span class="right-side"> 
							<a href="/#/personality?id={{model.user.id}}" class="user_txt">
								<img ng-src="data:image/png;base64,{{model.user.image}}" class="pull-left" height="20" width="20" alt="">
								<h2>{{model.user.name}} <!-- <span>@{{model.user.userName}}</span> --> </h2>
							</a> 
							<span class="clearfix"></span>
							<p read-more rm-max="50" rm-text="{{model.title}}"><a href="#/viewOpinion?id={{model.id}}" title ="{{model.title}}"></a></p>
							<p><a href="#/?sentimentId={{model.sentimentId}}" class="pool-sntmnt-title">{{model.sentimentName}}</a></p>
							<p class="time inline"><i class="fa fa-clock-o"></i> {{model.formattedAge}}</p>
						</span>
					</li>
					<div class="clearfix"></div>
				</ul>
				<div class="text-center"> <a href="#/viewAllOpinion?viewLatest=10" class="see_more">See More Opinions <i class="fa fa-plus-square-o"></i></a> </div>
			</div>
		</div>
	</div>
</div>

<div class="custom_row p_t15 show_onclick">
	<div class="l_75">
		<div class="toggle_txt">
			<ul>
				<li><span class="graph govt"></span> Govt Popularity Perception</li>
				<li><span class="graph verdict"></span>Opinion Pool</li>
				<li class="last"><a href="javascript:void(0)">Click to
						Expand <i class="fa fa-plus-square-o"></i>
				</a></li>
			</ul>
		</div>
	</div>
	<div class="l_25">
		<div class="impress opinion">
			<div id="carousel-opinion" class="carousel slide"
				data-ride="carousel">
<!-- 				<div class="carousel-inner" role="listbox"> -->
<!-- 					<div class="item active"> -->
<!-- 						<div class="dis_pic"> -->
<!-- 							<img src="images/opinion.jpg" alt=""> -->
<!-- 						</div> -->
<!-- 						<div class="right_txt"> -->
<!-- 							<h2>All Pain, No Gain</h2> -->
<!-- 							<a target="_blank" -->
<!-- 								href="https://cointelegraph.com/news/all-pain-no-gain-indias-failed-demonetization-is-a-lesson-to-all"><p -->
<!-- 									class="link">Coin Telegraph</p></a> -->
<!-- 							<p>Ram Charan Shared an opinion on demonetization</p> -->
<!-- 						</div> -->
<!-- 						<div class="clearfix"></div> -->

<!-- 					</div> -->
<!-- 					<div class="item"> -->
<!-- 						<div class="dis_pic"> -->
<!-- 							<img src="images/opinion.jpg" alt=""> -->
<!-- 						</div> -->
<!-- 						<div class="right_txt"> -->
<!-- 							<h2>GDP Growth Hurt</h2> -->
<!-- 							<a target="_blank" -->
<!-- 								href="https://financialtribune.com/articles/world-economy/53955/demonetization-to-hurt-india-s-2017-gdp-growth"> -->
<!-- 								<p class="link">Source - Financial Triute</p> -->
<!-- 							</a> -->
<!-- 							<p>Ram Veer Says shared an article</p> -->
<!-- 						</div> -->
<!-- 						<div class="clearfix"></div> -->
<!-- 					</div> -->
<!-- 				</div> -->
				<!-- Controls -->
<!-- 				<a class="left carousel-control" href="#carousel-opinion" -->
<!-- 					role="button" data-slide="prev"> <span class="fa fa-angle-left" -->
<!-- 					aria-hidden="true"></span> -->
<!-- 				</a> <a class="right carousel-control" href="#carousel-opinion" -->
<!-- 					role="button" data-slide="next"> <span -->
<!-- 					class="fa fa-angle-right" aria-hidden="true"></span> -->
<!-- 				</a> -->
			</div>
		</div>
	</div>

</div>
<!-- =========================================================sentiment section=============================================== -->
<div class="sentiment_container">
	<h2>Sentiments</h2>
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" ng-class="{ active: isSet(1) }"><a href
			ng-click="setTab(1)">Current</a></li>
		<li role="presentation" ng-class="{ active: isSet(2) }"><a href
			ng-click="setTab(2)" aria-controls="permanent" role="tab"
			data-toggle="tab">Permanent</a></li>
	</ul>
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane" ng-class="{active:isSet(1)}"
			id="current">
			<div id="carousel-sentiment" class="carousel slide"
				data-ride="carousel">
				<!-- =====================================CURRENT======================================================= -->
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox" ng-show="isSet(1)">
                    <div class="item" ng-repeat="sentimentSet in temporarySentimentsSets" ng-class="{active: $first}">
                        <ul class="sentiment_slide" ng-repeat="sentiment in sentimentSet">
                            <li >
                                <div id="current_{{sentiment.id}}"  class="box_sentiment" ng-click="displaySentiment($index, sentiment.id, 'current')" 
								sntm-id="{{sentiment.id}}" callback>
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Comming Soon.." class="verdict" 
									tooltip-calback></a>
									<a href id="clickShow" class="link_sentiment">
										<img ng-show="sentiment.imageUrl"  ng-src="{{sentiment.imageUrl}}" alt="{{sentiment.subject}}"  width="130px" height="150px"/>
										<img ng-hide="sentiment.imageUrl" ng-src="data:image/png;base64,{{sentiment.image}}" alt="{{sentiment.subject}}" width="130px" height="150px"> {{sentiment.subject}}
				                    </a>
									<a href="#/viewAllOpinion?id={{sentiment.relatedSentiments[0].id}}"><p>{{sentiment.relatedSentiments[0].name}}</p></a>
									<span class="time" ng-show="$index == 2 || $index == 5 ">
										<i class="fa fa-calendar"></i> {{sentiment.timeLine}}
									</span>
                                </div>
                            </li>
                        </ul>
									</div>
								</div>

				<!-- Controls -->
				<!--<a class="left carousel-control" href="#carousel-sentiment" role="button" data-slide="prev">
                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-sentiment" role="button" data-slide="next">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                </a>-->
				<!-- Controls -->
				<a class="left carousel-control" href="javascript:void(0)"
					role="button" ng-click="prev('#carousel-sentiment')"> <span
					class="fa fa-angle-left" aria-hidden="true"></span>
				</a> <a class="right carousel-control" href="javascript:void(0)"
					role="button" ng-click="next('#carousel-sentiment')"> <span
					class="fa fa-angle-right" aria-hidden="true"></span>
				</a>
			</div>
			<p ng-show="!temporarySentiments.length">We are in process of loading sentiments. Please hold on!</p>
		</div>
		<div role="tabpanel" class="tab-pane" id="permanent"
			ng-class="{active:isSet(2)}" >
			<!-- =====================================PERMAENT======================================================= -->
			<div id="carousel-sentiment-perma" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner" role="listbox">
                    <div class="item" ng-repeat="sentimentSet in permanentSentimentsSets" ng-class="{active: $first}">
						<ul class="sentiment_slide" ng-repeat="sentiment in sentimentSet">
							<li>
                                <div id="permanent_{{sentiment.id}}"  class="box_sentiment" ng-click="displaySentiment($index, sentiment.id, 'permanent')" 
                                sntm-id="{{sentiment.id}}" callback> 
									<a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Comming Soon.." class="verdict" 
									tooltip-calback></a>
									<a href id="clickShow" class="link_sentiment">
										
										<img ng-show="sentiment.imageUrl"  ng-src="{{sentiment.imageUrl}}" alt="{{sentiment.subject}}"  width="130px" height="150px"/>
										<img ng-hide="sentiment.imageUrl" ng-src="data:image/png;base64,{{sentiment.image}}" alt="{{sentiment.subject}}" width="130px" height="150px"> {{sentiment.subject}}
                                    </a>
									<!-- <p>{{sentiment.type}}</p> -->
									</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- Controls -->
				<a class="left carousel-control" href="javascript:void(0)"
					role="button" ng-click="prev('#carousel-sentiment-perma')"> <span
					class="fa fa-angle-left" aria-hidden="true"></span>
				</a> <a class="right carousel-control" href="javascript:void(0)"
					role="button" ng-click="next('#carousel-sentiment-perma')"> <span
					class="fa fa-angle-right" aria-hidden="true"></span>
				</a>
			</div>
			<p ng-show="!permanentSentiments.length">We are in process of loading sentiments. Please hold on!</p>
		</div>
	</div>
</div>
<!-- =========================================================SENTIMENT DESCRIPTION SECTION====================================================== -->
<div class="clearfix"></div>
<div>
	<div class="narrow_row p_t15" ng-show="isSentimentClicked">
		<div class="border_line_left">
			<div class="p_15">
				<div class="detail_img">
					<a href ng-click="showImage()"><img
						ng-src="data:image/png;base64,{{selectedSentiment.image}}"
						alt="{{selectedSentiment.subject}}" width="450px" height="205px"></a>
				</div>
				<div class="detail_txt">
					<h2>{{selectedSentiment.subject}}</h2>
					<div class="text-center" zingchart id="myChart" zc-json="myJson"
						zc-height=150 zc-width=170 style="display: block;"
						ng-hide="isAggregationPresent">
						<!-- <div id="chartdiv"> -->
						<h5 style="margin-left: 4cm;">Total Opinions : {{totalOpinionVotes}}</h5>
						<ul class="graph_detail">
							<li class="safron"><span>{{supportPercentage}}%</span>Support
								Govt</li>
							<li class="green"><span>{{againstPercentage}}%</span>Oppose
								Govt</li>
						</ul>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="sntmnt-dscrp">
					<!--<more-less-text text="{{selectedSentiment.description}}" limit="5" index="$index+1" ></more-less-text>-->
					<p read-more rm-max="400"
						rm-text="{{selectedSentiment.description}}"></p>
					<!--  <p show-more show-more-height='100'> <p>{{selectedSentiment.description}}</p> -->
					<!-- <a href="#" class="btn btn-default btn-default-c m_0">Verdict</a> -->
					<br> <a href="javascript:void(0)"
						ng-click="openOpinion(1,selectedSentiment);"
						class="btn btn-default red-half"><i class="fa fa-comments"></i>
						<span>Raise opinion</span></a> 
						<a href="#/viewAllOpinion?id={{selectedSentiment.id}}" class="m_l15 custom_btn"><span class="fa fa-comments"></span> View all Opinions</a>
				</div>
			</div>
			<hr>
				
			 <div class="p_15" ng-show="selectedSentiment.relatedSentiments.length">
                <h2>Related sentiments</h2>
                <div class="clearfix"></div>
                <div class="related">
                    <div id="carousel-related" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
		 					<div class="item" ng-repeat= "relatedSentimentSet in relatedSentimentsSets" ng-class="{active: $first}">
                                <div class="col-xs-6 col-sm-3 col-md-2" ng-repeat= "relatedSentiment in relatedSentimentSet" >
                                    <div class="cont_txt"><a href ng-click="displayRelatedSentiment($index, relatedSentiment.id)">
                                        <img ng-src="data:image/png;base64,{{relatedSentiment.image}}"  alt="" height="80px" width="100%"></a>
                                        <h1>{{relatedSentiment.subject}}</h1></div>
                                    <p>{{relatedSentiment.relatedSentiments[0].name}}</p>
                                </div>
                            </div>
                            <p ng-show="!selectedSentiment.relatedSentiments.length">no related sentiments for this sentiment</p>

                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="javascript:void(0)"
                           role="button" ng-click="prev('#carousel-related')"> <span
                                class="fa fa-angle-left" aria-hidden="true"></span>
                        </a> <a class="right carousel-control" href="javascript:void(0)"
                                role="button"  ng-click="next('#carousel-related')"> <span
                            class="fa fa-angle-right" aria-hidden="true"></span>
                    </a>
                    </div>
                </div>
            </div>
			
			<hr>
			<!-- ====================================================ATTACHMENT SECTION=============================================================== -->

			<div class="p_15 full_bx">
				<h2>References Related To {{selectedSentiment.subject}}</h2>

				<div class="scroll_cont">
					<p ng-show="!selectedSentiment.references.length">no
						attachments for this sentiment available in ur database to be
						displayed</p>
					<div class="media" 
						ng-repeat="attachment in selectedSentiment.references | limitTo:4">
						<div class="media-left">
							<a  target="_blank" class="name"
								ng-show="attachment.attachmentType!='link'"
								href="/attachment/download?id={{attachment.id}}">
							 <img
								ng-show="attachment.data.length"
								id="refr_{{$index}}"
								ng-src="data:image/png;base64,{{attachment.data}}"
								alt="{{attachment.title}}" class="media-object"
								data-holder-rendered="true" width="30px" height="30px">
							<!-- ====================IF REF IMAGE NOT IN DB====================== -->
								<img ng-show="!attachment.data.length"
									ng-src="..{{attachment.iconUrl}}"
									alt="{{attachment.title}}" class="media-object"
									data-holder-rendered="true" width="30px" height="30px">
									<!-- ====================/IF REF IMAGE NOT IN DB====================== -->
							</a>
							<a  target="_blank" class="name"
								ng-show="attachment.attachmentType=='link'"
								href="{{attachment.link}}"
								>
						     <img
								ng-show="attachment.data.length"
								id="refr_{{$index}}"
								ng-src="data:image/png;base64,{{attachment.data}}"
								alt="{{attachment.title}}" class="media-object"
								data-holder-rendered="true" width="30px" height="30px">
							<!-- ====================IF REF IMAGE NOT IN DB====================== -->
								<img ng-show="!attachment.data.length"
									ng-src="..{{attachment.iconUrl}}"
									alt="{{attachment.title}}" class="media-object"
									data-holder-rendered="true" width="30px" height="30px">
									<!-- ====================/IF REF IMAGE NOT IN DB====================== -->
							</a>
						</div>
						<div class="media-body">
							<a  target="_blank" class="name"
								ng-show="attachment.attachmentType!='link'"
								href="/attachment/download?id={{attachment.id}}">{{attachment.title}}</a>
							<a  target="_blank" class="name"
								ng-show="attachment.attachmentType=='link'"
								href="{{attachment.link}}"
								>{{attachment.title}}</a>
							<span class="opini" ng-show="attachment.opinionTitle" >On Opinion <a href="#/viewOpinion?id={{attachment.opinionId}}">{{attachment.opinionTitle}}</a>
							</span>
							<div class="clearfix"></div>
							<!-- <button type="button"
                                class="btn pull-left btn-default red-half btn-sml">
                                <i class="fa fa-comments"></i> <span>Opinion</span>
                            </button> -->
							
							<a href="javascript:void(0)"
								ng-click="openOpinion(2,selectedSentiment,attachment.id);"
								class="btn pull-left btn-default red-half btn-sml"><i
								class="fa fa-comments"></i> <span>Opinion</span></a>

							<div class="smiley" id="refPar_smiley">
								<img src="images/feel.png" alt=""
									id="refImg_{{attachment.id}}">                           <!-- ng-click="classPopup(attachment.id)" -->
									 <span class="fa fa-caret-down"></span>
								<div class="popup_smiley" id="popupSmilee_{{attachment.id}}" >
									<h2>Select your feeling</h2>
									<ul class="smy_list">
										<li><span class="red_neg"><i class="fa fa-minus"></i>
												<span>Negative</span></span></li>
										<li id="rate_0{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 0, 'sad','negative'); checkAuth();"><input
												name="feel" type="radio" id="sad"><label for="sad">Sad</label></a></li>
										<li id="rate_1{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 1, 'Baised','negative' ); checkAuth();"><input
												name="feel" type="radio" id="Baised"><label
												for="Baised">Baised</label></a></li>
										<li id="rate_2{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 2,'advert' ,'negative'); checkAuth();"><input
												name="feel" type="radio" id="advert"><label
												for="advert">advert</label></a></li>
										<li id="rate_3{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 3,'plagrism','negative' ); checkAuth();"><input
												name="feel" type="radio" id="plagrism"><label
												for="plagrism">plagrism</label></a></li>
										<li id="rate_4{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 4,'facts','negative'); checkAuth();"><input
												name="feel" type="radio" id="facts"><label
												for="facts">hiding facts</label></a></li>
									</ul>
									<hr>
									<ul class="smy_list">
										<li><span class="red_neg blck"><i
												class="fa fa-plus"></i> <span>Positive</span></span></li>
										<li id="rate_5{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 5,'format','positive'); checkAuth();"><input
												name="feel" type="radio" id="format"><label
												for="format">well format</label></a></li>
										<li id="rate_6{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 6,'intresting','positive'); checkAuth();"><input
												name="feel" type="radio" id="intresting"><label
												for="intresting">intresting</label></a></li>
										<li id="rate_7{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 7,'informative','positive'); checkAuth();"><input
												name="feel" type="radio" id="informative"><label
												for="informative">informative</label></a></li>
										<li id="rate_8{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 8,'attractive','positive'); checkAuth();"><input
												name="feel" type="radio" id="attractive"><label
												for="attractive">attractive</label></a></li>
										<li id="rate_9{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 9,'ethical','positive'); checkAuth();"><input
												name="feel" type="radio" id="ethical"><label
												for="ethical">ethical</label></a></li>
									</ul>
								</div>
							</div>
							<!-- <a class="times_of_news" data-toggle="modal" data-target="#myModal" 
                            href="{{attachment.link}}">
                             -->
                             
							<a class="times_of_news" ng-click="showNewsModal(attachment.link | filterDomain | uppercase)" >
							<!-- href="{{attachment.link}}" -->
                            <i class="fa fa-newspaper-o"></i> {{attachment.link | filterDomain | uppercase}} </a>
							<!-- <a href="javascript:void(0)" class="air_share"></a> -->
							<div class="pull-right by_date">
								<a href="#" class="pull-leftt m_r15"></a>
								
								<!-- <i class="fa fa-share-alt"></i> Share -->
								<span class="by"><b>By:</b> 
								<span ng-show="attachment.provider"><a href="/#/personality?id={{attachment.providerId}}">{{attachment.provider}}</a></span>
								<span ng-show="!attachment.provider" >Admin</span>
								</span>
								&nbsp; &nbsp;<span><i class="fa fa-clock-o"></i> Created {{attachment.formattedAge | date}}</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<hr>
			<!-- ========================================NEWS SECTION================================================= -->

			<div role="main" class="p_15 news" when-scrolled='more()'>
				<h2>News Related to {{selectedSentiment.subject}}</h2>
				<p ng-show="!selectedSentiment.sentimentNews.length">no news for
					this sentiment available in ur database to be displayed</p>
				<div class="media"
					ng-repeat="news in selectedSentiment.sentimentNews">
					<div class="media-left">
						<a ng-show="news.previewImageLink.length" href="{{news.link}}"
							target="blank">
							<img ng-src="{{news.previewImageLink}}"
							width="200px" id="iframe{{news.id}}" width="198px" height="149px">
							<!--  <p>Your browser does not support iframes.</p> --> 
						</a> 
						<a ng-show="news.previewImagePath" href="{{news.link}}"
							target="blank">
							<img ng-src="data:image/jpg;base64,{{news.previewImagePath}}"
							width="200px" id="iframe{{news.id}}" width="198px" height="149px">
							<!--  <p>Your browser does not support iframes.</p> --> 
						</a>
						<a ng-show="!news.previewImagePath && !news.previewImagePath" href="{{news.link}}"
							target="blank">
							<img ng-src="/images/staticNews.png"
							width="200px" id="iframe{{news.id}}" width="198px" height="149px">
							<!--  <p>Your browser does not support iframes.</p> --> 
						</a>

					</div>
					<div class="media-body">
						<h2>
							<a class="name" href="{{news.link}}" target="blank">{{news.title}}</a>
						</h2>
						<p read-more rm-max="400"
						rm-text="{{news.plainText}}"></p>
						<!--                         <span class="opini">On Opinion <a href="#">India is one of the</a></span> -->
						<div class="clearfix"></div>
						<a href="javascript:void(0)"
							ng-click="openOpinion(3,selectedSentiment,news.id);"
							class="btn pull-left btn-default red-half btn-sml"><i
							class="fa fa-comments"></i> <span>Opinion</span></a>
						<div class="smiley">
							<img src="images/feel.png" alt="" width="30px" height="30px"
								name="refSmilee" id="newsImg_{{news.id}}"> <span
								class="fa fa-caret-down"></span>
							<div class="popup_smiley">
								<h2>Select your feeling - Is this link and Coment reflect
									good journalism?</h2>
								<ul class="smy_list">
									<li><span class="red_neg"><i class="fa fa-minus"></i>
											<span>Negative</span></span></li>
									<li id="rate_0{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 0, 'sad','negative')"><input
											name="rate_negative_0" type="radio" id="sad"><label for="sad">Sad</label></a></li>
									<li id="rate_1{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 1, 'Baised','negative' )"><input
											name="rate_negative_1" type="radio" id="Baised"><label
											for="Baised">Baised</label></a></li>
									<li id="rate_2{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 2, 'advert','negative' )"><input
											name="rate_negative_2" type="radio" id="advert"><label
											for="advert">advert</label></a></li>
									<li id="rate_3{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 3, 'plagrism','negative' )"><input
											name="rate_negative_3" type="radio" id="plagrism"><label
											for="plagrism">plagrism</label></a></li>
									<li id="rate_negative_4{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 4, 'facts','negative' )"><input
											name="rate_4" type="radio" id="facts"><label
											for="facts">hiding facts</label></a></li>
								</ul>
								<hr>
								<ul class="smy_list">
									<li><span class="red_neg blck"><i
											class="fa fa-plus"></i> <span>Positive</span></span></li>
									<li id="rate_5{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 5, 'format','positive')"><input
											name="rate_positive_5" type="radio" id="format"><label
											for="format">well format</label></a></li>
									<li id="rate_6{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 6, 'intresting','positive')"><input
											name="rate_positive_6" type="radio" id="intresting"><label
											for="intresting">intresting</label></a></li>
									<li id="rate_7{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 7, 'informative','positive')"><input
											name="rate_positive_7" type="radio" id="informative"><label
											for="informative">informative</label></a></li>
									<li id="rate_8{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 8, 'attractive','positive')"><input
											name="rate_positive_8" type="radio" id="attractive"><label
											for="attractive">attractive</label></a></li>
									<li id="rate_9{{news.id}}"><a href
										ng-click="rate('sentimentNews', news.id, selectedSentiment.id, 9, 'ethical','positive')"><input
											name="rate_positive_9" type="radio" id="ethical"><label
											for="ethical">ethical</label></a></li>
								</ul>
							</div>
						</div>
						
						<span class="pull-leftt m_r15"> <!-- <a href="javascript:void(0)" class="air_share"></a> -->
							<a class="times_of_news" ng-click="showNewsModal(news.feedSource,news.id,'sentimentNews')"> 
                            <!-- href="{{news.link}} -->
							<i
								class="fa fa-newspaper-o"></i> {{news.feedSource}}
						</a>
							<div class="pull-right by_date">
								<span class="pull-right by_date"><i class="fa fa-clock-o"></i>
									{{news.formattedAge}}</span>
							</div>
						</span>
					</div>
					<div class="clearfix"></div>
				</div>

<!-- 				<div when-scrolled="loadMore()" class="loader"> -->
<!-- 					<i class="fa fa-spinner fa-spin"></i> <br> Loading... -->
<!-- 				</div> -->
			</div>
		</div>

		<div class="border_line_right">
		
			<!-- ::::::::::::::::::::::::::::::::::::poll caurosel::::::::::::::::::::::::::::::::::::::::::::: -->
	 	<div class="p_15" ng-show="selectedSentiment.polls.length">
                <h2>Vote Your Voice</h2>
               <!-- <div class="related"> imp for prev/next to look perfect dnt remove -->
                    <div id="carousel-poll" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox" >
		 					<div class="item" ng-repeat= "poll in selectedSentiment.polls" ng-class="{active: $first}">
								<div class="poll" id="pollDivi_{{poll.id}}">
									<h4>Total Votes : {{totalVotes}}</h4>
									<br> <img ng-src="data:image/png;base64,{{poll.image}}" alt="">
									<div class="clearfix"></div>
									<br>
									<div>
										<h4>{{poll.question}}</h4>
											<div class="poll_{{selectedSentiment.id}}_{{poll.id}}" ng-repeat="pollOptn in poll.options">
												<input type="radio" id="poll_{{pollOptn.id}}" autocomplete="off" name="{{poll.id}}"> 
												<label for="poll_{{pollOptn.id}}" id="pollOptnLabel_{{pollOptn.id}}"
												ng-click="vote(poll.id, pollOptn.id,'Poll')">{{pollOptn.pollOption}}
													<span class="show_select" id="agre_{{pollOptn.id}}_{{poll.id}}">
													<!-- {{voteResp[$index].percentage}}% -->
													</span>
													<!-- <div id="poll_out{{poll.id}}_{{pollOptn.id}}" class="poll_out">
													</div> -->
													<hr class="hr_poll" id="pollOpn_{{pollOptn.id}}" >
												</label>	
											</div>
									</div>
									
								</div>
								 
								<p ng-show="!selectedSentiment.polls.length">no polls for this sentiment</p>
							</div>
                        </div> 
  </div>
  
  <div id="carousel-poll" class="carousel slide" data-ride="carousel" data-interval="5000">
 <!--  Indicators -->
  <ol class="carousel-indicators" ng-repeat="poll in selectedSentiment.polls">
    <li data-target="#carousel-poll" data-slide-to="{{$index}}" ng-class="{active: $first}"></li>
    <!-- <li data-target="#carousel-poll" data-slide-to="1"></li>
    <li data-target="#carousel-poll" data-slide-to="2"></li> -->
  </ol>

 <!--  Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" ng-repeat="poll in selectedSentiment.polls" style="width:50%; margin:auto; right:10px">
    <div class="col-xs-2" ><input type="radio" name="size" ><label for="p_1_{{poll.id}}" id="p_1_{{poll.id}}" class="size" ng-click="stylePoll(poll.id,$index, selectedSentiment.polls)"></label></div>
    </div>

  </div>
 
                       <!--  Controls -->
                        <a class="left carousel-control" href="javascript:void(0)" role="button" ng-click="prev('#carousel-poll')"> 
                        <span class="fa fa-angle-left" aria-hidden="true"></span></a> 
                        <a class="right carousel-control" href="javascript:void(0)" role="button"  ng-click="next('#carousel-poll')">
                         <span class="fa fa-angle-right" aria-hidden="true"></span>
                    	</a>
                    </div>
               <!--  </div> -->
				</div>
 
		

		
			<!-- ===============================================CHART SECTION================================================= -->
				<hr>

							 <!-- <div class="p_15 chart" style="display:none">
				                <h2>Charts:</h2>
				                <h3>Price Rise</h3>
				                <button type="button"
				                        class="btn pull-left btn-default red-half btn-sml">
				                    <i class="fa fa-comments"></i> <span>Opinion</span>
				                </button>
				                <div class="clearfix"></div>
				                <img src="images/side_chart.jpg" alt="">
				                <div class="clearfix"></div>
				                <br> <br>
				            </div> -->
				<div class="clearfix"></div>
			</div>
</div> 
 
			<!-- =========================================================ADD SECTION====================================================== -->
			<div class="clearfix"></div>
<!-- 			<div class="how_to_play p_t15" ng-hide="isSentimentClicked"> -->
<!-- 				<a href="#" class="pull-left"><img src="images/ad.jpg" alt=""></a> -->
<!-- 				<a href="#" class="pull-left m_l15"><img -->
<!-- 					src="images/play_how.jpg" alt=""></a> -->
<!-- 			</div> -->
			<div class="clearfix"></div>
			<br>

		</div>


		<!-- The Modal for sentimentPic on click under description part -->
		<div id="sentimentPic_Modal" class="modal fade" role="dialog" index=-1
			aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">

				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">&times;</button>
						<h4 class="modal-title">{{selectedSentiment.subject}}</h4>
					</div>
					<div class="modal-body">
						<img ng-src="data:image/png;base64,{{selectedSentiment.image}}"
							alt="{{selectedSentiment.subject}}">
					</div>
				</div>
			</div>
		</div>
		<!-- end of sentimentPic model -->
		<!--Jahid-->