<div class="clearfix"></div>
<div class="p_container personality">
	<div class="solve_problem">
		<div class="banner_perso">
			<a ng-show="userData[0].id && (userData[0].id==user.id)" class="fix_change" href ng-click="showCoverImage()"><i class="fa fa-camera"></i>
				Change Cover Photo</a> <img align="right" class="bg" ng-src="data:image/png;base64,{{coverImg}}" alt="" id="cover_img" height="220px" width="1000px">
			<div class="row">
				<div class="col-sm-3 user_pic" style="height:100px; top:10px; position:absolute;">
					<span class="user_pk" style="top:25px; position:relative;">
					<a ng-show="userData[0].id&& (userData[0].id==user.id)" class="fix_change" href ng-click="showImage()"><i class="fa fa-camera"></i> Change Profile Photo</a>
						<img id="per_user_img" ng-click="showUserImage()"
						class="img-thumbnail" style="width:160px; height:170px;"  alt=""> </span>
				</div>
				<div class="col-sm-9 side_cont inline">
					<h2 class="name">
						{{user.name}} <span><i class="fa fa-star"></i></span>
					</h2>
					<div class="btn-group pull-right m_r10" role="group"
						aria-label="Basic example">
						<button type="button" class="btn custom_btn btn_small" id="updateInfo_personality" ng-show="isUserLoggedIn() && (userData[0].id==user.id)" >Update
							Info</button>
<!-- 						<button type="button" class="btn custom_btn btn_small">Middle</button> -->
					</div>
					<div class="wht_bx" style="display: none">
						<ul class="tab-list">
							<li><a href="javascript:void(0)"><span
									class="icon_tab wall"></span> <span class="full_wid">My
										Wall</span></a></li>
							<li><a href="javascript:void(0)"><span
									class="icon_tab upload"></span> <span class="full_wid">Upload
										Photos</span></a></li>
							<li><a href="javascript:void(0)"><span
									class="icon_tab conn"></span> <span class="full_wid">Connections</span></a></li>
						</ul>
						<div class="pull-right">
							<a class="custom_btn inline m_t20" href="javascript:void(0)"><i
								class="fa fa-user-plus"></i> Connect</a> <a
								class="custom_btn inline m_t20" href="javascript:void(0)"><i
								class="fa fa-comment"></i> Message</a>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-3 m_t15">
				<div class="box_h_stat">
					<div class="lft_side text-center">
						<img src="images/pers_left.png" alt="">
						<!-- 						<h4>User Stats</h4> -->
					</div>
					<div class="rgt_side">
						<h2>User Statistics</h2>
						<!-- 						<p>Stats</p> -->
						<ul>
							<li><a href="javascript:void(0)">Opinion <span>
										{{opinionCount}}</span></a></li>
							<li><a href="javascript:void(0)">Response <span>
										{{responsesCount}} </span></a></li>
							<!-- 
							<li><a href="javascript:void(0)">Tasks <span>6</span></a></li>
							<li><a href="javascript:void(0)">Videopic <span>2</span></a></li>
							<li><a href="javascript:void(0)">Submit Data <span>4</span></a></li>
							<li><a href="javascript:void(0)">Verdict <span>6</span></a></li> -->
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				<h2>Past Opinions</h2>

				<div class="support_left_bx">
					<div class="support">
						Support <b>GOVT</b> <span>{{pastOpinionOutputModel.support}}%</span>
					</div>
					<div class="against">
						Against <b>GOVT</b> <span>{{pastOpinionOutputModel.against}}%</span>
					</div>
					<div class="clearfix"></div>
					<ul class="support_bar" 
						ng-repeat=" model in pastOpinionOutputModel.opinionByMonths | orderBy:'dummyDate':reverse">

						<li class="sup">{{model.month}}<span>{{model.support}}</span></li>
						<li class="agin">{{model.month}}<span>{{model.against}}</span></li>
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="col-sm-9">
				<div class="sentiment_container m_t15">
<!-- 					<ul class="nav nav-tabs fill" role="tablist"> -->
<!-- 						<li role="presentation" class="active"><a href="#current" -->
<!-- 							aria-controls="current" role="tab" data-toggle="tab" -->
<!-- 							aria-expanded="true">Current</a></li> -->
<!-- 						<li role="presentation" class=""><a href="#permanent" -->
<!-- 							aria-controls="permanent" role="tab" data-toggle="tab" -->
<!-- 							aria-expanded="false">Permanent</a></li> -->
<!-- 						<li role="presentation" class=""><a href="#Album" -->
<!-- 							aria-controls="permanent" role="tab" data-toggle="tab" -->
<!-- 							aria-expanded="false">Album</a></li> -->
<!-- 					</ul> -->
					
				<!-- 	<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="current">
							<div id="personality_slider" class="carousel slide"
								data-ride="carousel">
								<div class="carousel-inner" role="listbox">
									<div class="item">
										<ul class="personality_side">
											<li><span class="imag_bx"> <span class="dropdown">
														<button class="btn btn-danger dropdown-toggle"
															type="button" id="dropdownMenu1" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<span class="fa fa-pencil"></span>
														</button>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
															<li><a href="#">Make Cover Photo</a></li>
															<li><a href="#">Tag Others</a></li>
															<li><a href="#">Share</a></li>
															<li role="separator" class="divider"></li>
															<li><a href="#">Move To Other Album</a></li>
														</ul>
												</span> <span class="box_album s_check"><input id="add_1"
														type="checkbox"> <label for="add_1">Add to
															Album</label></span> <a href="#"><img src="images/like_bx.png"
														alt=""></a> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <span class="dropdown">
														<button class="btn btn-danger dropdown-toggle"
															type="button" id="dropdownMenu1" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<span class="fa fa-pencil"></span>
														</button>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
															<li><a href="#">Make Cover Photo</a></li>
															<li><a href="#">Tag Others</a></li>
															<li><a href="#">Share</a></li>
															<li role="separator" class="divider"></li>
															<li><a href="#">Move To Other Album</a></li>
														</ul>
												</span> <span class="box_album s_check"><input id="add_2"
														type="checkbox"> <label for="add_2">Add to
															Album</label></span> <a href="#"><img src="images/like_bx_2.png"
														alt=""></a> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <span class="dropdown">
														<button class="btn btn-danger dropdown-toggle"
															type="button" id="dropdownMenu1" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<span class="fa fa-pencil"></span>
														</button>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
															<li><a href="#">Make Cover Photo</a></li>
															<li><a href="#">Tag Others</a></li>
															<li><a href="#">Share</a></li>
															<li role="separator" class="divider"></li>
															<li><a href="#">Move To Other Album</a></li>
														</ul>
												</span> <span class="box_album s_check"><input id="add_3"
														type="checkbox"> <label for="add_3">Add to
															Album</label></span> <a href="#"><img src="images/like_bx_3.png"
														alt=""></a> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <span
													class="box_album s_check"><input id="add_4"
														type="checkbox"> <label for="add_4">Add to
															Album</label></span> <a href="#"><img src="images/like_bx_4.png"
														alt=""></a> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
										</ul>
									</div>
									<div class="item active">
										<ul class="personality_side">
											<li><span class="imag_bx"> <span class="dropdown">
														<button class="btn btn-danger dropdown-toggle"
															type="button" id="dropdownMenu1" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<span class="fa fa-pencil"></span>
														</button>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
															<li><a href="#">Make Cover Photo</a></li>
															<li><a href="#">Tag Others</a></li>
															<li><a href="#">Share</a></li>
															<li role="separator" class="divider"></li>
															<li><a href="#">Move To Other Album</a></li>
														</ul>
												</span> <span class="box_album s_check"><input id="add_5"
														type="checkbox"> <label for="add_5">Add to
															Album</label></span> <a href="#"><img src="images/like_bx.png"
														alt=""></a> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <span class="dropdown">
														<button class="btn btn-danger dropdown-toggle"
															type="button" id="dropdownMenu1" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<span class="fa fa-pencil"></span>
														</button>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
															<li><a href="#">Make Cover Photo</a></li>
															<li><a href="#">Tag Others</a></li>
															<li><a href="#">Share</a></li>
															<li role="separator" class="divider"></li>
															<li><a href="#">Move To Other Album</a></li>
														</ul>
												</span> <span class="box_album s_check"><input id="add_6"
														type="checkbox"> <label for="add_6">Add to
															Album</label></span> <a href="#"><img src="images/like_bx_2.png"
														alt=""></a> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <span class="dropdown">
														<button class="btn btn-danger dropdown-toggle"
															type="button" id="dropdownMenu1" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<span class="fa fa-pencil"></span>
														</button>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
															<li><a href="#">Make Cover Photo</a></li>
															<li><a href="#">Tag Others</a></li>
															<li><a href="#">Share</a></li>
															<li role="separator" class="divider"></li>
															<li><a href="#">Move To Other Album</a></li>
														</ul>
												</span> <span class="box_album s_check"><input id="add_7"
														type="checkbox"> <label for="add_7">Add to
															Album</label></span> <a href="#"><img src="images/like_bx_3.png"
														alt=""></a> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <span class="dropdown">
														<button class="btn btn-danger dropdown-toggle"
															type="button" id="dropdownMenu1" data-toggle="dropdown"
															aria-haspopup="true" aria-expanded="true">
															<span class="fa fa-pencil"></span>
														</button>
														<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
															<li><a href="#">Make Cover Photo</a></li>
															<li><a href="#">Tag Others</a></li>
															<li><a href="#">Share</a></li>
															<li role="separator" class="divider"></li>
															<li><a href="#">Move To Other Album</a></li>
														</ul>
												</span> <span class="box_album s_check"><input id="add_8"
														type="checkbox"> <label for="add_8">Add to
															Album</label></span> <a href="#"><img src="images/like_bx_4.png"
														alt=""></a> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
										</ul>
									</div>
								</div>

								
								<a class="left carousel-control" href="#personality_slider"
									role="button" data-slide="prev"> <span
									class="fa fa-angle-left" aria-hidden="true"></span>
								</a> <a class="right carousel-control" href="#personality_slider"
									role="button" data-slide="next"> <span
									class="fa fa-angle-right" aria-hidden="true"></span>
								</a>
							</div>
							<div class="alert album_bx well m_t10 fade in" role="alert">
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<label>Your Albums:</label>
								<div class="checkbox s_check inline">
									<input id="email_s_1" type="checkbox"> <label
										for="email_s_1">Album</label>
								</div>
								<div class="checkbox s_check inline">
									<input id="email_s_2" type="checkbox"> <label
										for="email_s_2">Govt Album</label>
								</div>
								<div class="checkbox s_check inline">
									<input id="email_s_3" type="checkbox"> <label
										for="email_s_3">Spot Album</label>
								</div>
								<div class="checkbox s_check inline">
									<input id="email_s_4" type="checkbox"> <label
										for="email_s_4"><input type="text" disabled
										class="form-control" placeholder="Create New"></label>
								</div>

								<div class="clearfix"></div>
								<a href="javascript:void(0)" class="custom_btn col-md-offset-2">Assign
									in Albums</a> <a href="javascript:void(0)" class="btn">Cancel</a>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="permanent">
							<div id="carousel-sentiment-perma" class="carousel slide"
								data-ride="carousel">
								<div class="carousel-inner" role="listbox">
									<div class="item">
										<ul class="personality_side">
											<li><span class="imag_bx"> <img
													src="images/like_bx.png" alt=""> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <img
													src="images/like_bx_2.png" alt=""> <span
													class="lik_bx"><a href="javascript:void(0)">Like</a>
														. <a href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <img
													src="images/like_bx_3.png" alt=""> <span
													class="lik_bx"><a href="javascript:void(0)">Like</a>
														. <a href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <img
													src="images/like_bx_4.png" alt=""> <span
													class="lik_bx"><a href="javascript:void(0)">Like</a>
														. <a href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
										</ul>
									</div>
									<div class="item active">
										<ul class="personality_side">
											<li><span class="imag_bx"> <img
													src="images/like_bx.png" alt=""> <span class="lik_bx"><a
														href="javascript:void(0)">Like</a> . <a
														href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <img
													src="images/like_bx_2.png" alt=""> <span
													class="lik_bx"><a href="javascript:void(0)">Like</a>
														. <a href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <img
													src="images/like_bx_3.png" alt=""> <span
													class="lik_bx"><a href="javascript:void(0)">Like</a>
														. <a href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
											<li><span class="imag_bx"> <img
													src="images/like_bx_4.png" alt=""> <span
													class="lik_bx"><a href="javascript:void(0)">Like</a>
														. <a href="javascript:void(0)">Comment</a> . <a
														href="javascript:void(0)"><i class="fa fa-thumbs-up"></i>
															86</a> . <a href="javascript:void(0)"><i
															class="fa fa-comment"></i> 18</a> </span>
											</span></li>
										</ul>
									</div>
								</div>

								<a class="left carousel-control"
									href="#carousel-sentiment-perma" role="button"
									data-slide="prev"> <span class="fa fa-angle-left"
									aria-hidden="true"></span>
								</a> <a class="right carousel-control"
									href="#carousel-sentiment-perma" role="button"
									data-slide="next"> <span class="fa fa-angle-right"
									aria-hidden="true"></span>
								</a>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="Album">
							<div class="clearfix"></div>
							<br> <a href="javascript:void(0)" class="custom_btn"><i
								class="fa fa-plus"></i> Create New Album</a>
							<div class="clearfix"></div>
							<ul class="album_list">
								<li><a href="#"><span class="img_alb"><img
											src="images/like_bx.png" alt=""></span><span class="title_nm">Name
											album</span> <span>120</span></a></li>
								<li><a href="#"><span class="img_alb"><img
											src="images/like_bx.png" alt=""></span><span class="title_nm">Name
											album</span> <span>120</span></a></li>
								<li><a href="#"><span class="img_alb"><img
											src="images/like_bx.png" alt=""></span><span class="title_nm">Name
											album</span> <span>120</span></a></li>
								<li><a href="#"><span class="img_alb"><img
											src="images/like_bx.png" alt=""></span><span class="title_nm">Name
											album</span> <span>120</span></a></li>
								<li><a href="#"><span class="img_alb"><img
											src="images/like_bx.png" alt=""></span><span class="title_nm">Name
											album</span> <span>120</span></a></li>
							</ul>
						</div>
					</div>
				-->
				</div>
				<div class="m_t20">
					<div class="about_cont_bx m_t15 m_b10">
						<ul class="top-fill fill" role="tablist">
							<li role="presentation" class="active"><a href="#about"
								aria-controls="about" role="tab" data-toggle="tab"
								aria-expanded="true" target="_self"><i class="fa fa-user"></i>
									About</a></li>
							<li role="presentation" class=""><a href="#contact"
								aria-controls="contact" role="tab" data-toggle="tab"
								aria-expanded="false" target="_self"><i
									class="fa fa-address-book"></i> Contact</a></li>



							<!-- 								<li role="presentation" class=""> -->
							<!-- 								<a href="#connection" aria-controls="contact" role="tab" data-toggle="tab" aria-expanded="false"  target="_self"> -->
							<!-- 								<i class="fa fa-users"></i> Connections</a></li> -->
							<!-- <li role="presentation" class=""><a href="#connection"
								aria-controls="contact" role="tab" data-toggle="tab"
								aria-expanded="false"><i class="fa fa-users"></i>
									Connections</a></li>
							<li role="presentation" class=""><a href="#political"
								aria-controls="contact" role="tab" data-toggle="tab"
								aria-expanded="false"><i class="fa fa-bank"></i> Political
									View</a></li>
 -->

						</ul>
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="about">
								<div class="row">
									<div class="col-md-6">
										<h2 class="inline">
											{{user.name}} <span class="gry_txt txt_13">@{{user.username}}</span>
										</h2>
										<p>
										<span ng-class="{'fa fa-female': user.gender === 'Female', 
                    									'fa fa-male': user.gender === 'Male'}">
									    </span>&nbsp;{{user.gender}},
    									<span class="fa fa-birthday-cake">&nbsp;{{user.dob | date: 'dd-MM-yyyy'}},</span> {{user.maritalStatus | uppercase}}
										</p>
										<p>
										<a class="link_out" target="_blank" title="{{user.website}}" href="http://{{user.website}}" >Visit Website</a> 
										<a href="javascript:void(0)" class="red"><iclass=""></i></a>
										</p>
										<div class="clearfix"></div>
										<p>
											Lives in <a href="javascript:void(0)" class="red">{{user.city}}, {{user.state}}
												</a>
										</p>
										<div class="clearfix"></div>
										<!-- 
										<h4>Achievments</h4>
										 <ul class="achive">
											<li>NCC ToPPER IN THE 2007, Tamilnadu <a
												href="javascript:void(0)" class="pull-right red"><i
													class="fa fa-file-text"></i></a></li>
											<li>BCC ToPPER IN THE 2007, UP <a
												href="javascript:void(0)" class="pull-right red"><i
													class="fa fa-file-text"></i></a></li>
											<li>BCC ToPPER IN THE 2007, Jharia, MP <a
												href="javascript:void(0)" class="pull-right red"><i
													class="fa fa-file-text"></i></a></li>
											<li><a href="javascript:void(0)" class="red">More...</a></li>
										</ul> -->
										<div class="clearfix"></div>
										<br>
										<h2 class="inline">Education</h2>
<!-- 										<a href="javascript:void(0)" class="bg_bx">Add</a> -->
										<ul class="achive">
											<li><span class="red">{{user.qualification}} </span></li>
											<!-- <li>Studied in <span class="red">JNU University,
													Delhi</span></li>
											<li>Studied in <span class="red">JNU University,
													Delhi</span></li>
											<li><a class="red" href="javascript:void(0)">More...</a></li> -->
										</ul>
									</div>
									<div class="col-md-6">
										<h4>Summary <a class="pull-right red" ng-click="enableEditor();"><i
											class="fa fa-pencil-square-o" ng-show="isUserLoggedIn() && (userData[0].id==user.id)"></i></a>
										</h4>
										<div class=" discrip" id="summary" ng-hide="editorEnabled">
											<p read-more rm-max="300" rm-text="{{user.summary}}" ></p>
											<textarea ng-show="user.summary == ''" cols="60" placeholder="Write Something about you ...." style="border: none"></textarea>
												
										</div>
										<div ng-show="editorEnabled" class="discrip" >
												<textarea ng-model="editableTitle" ng-show="editorEnabled" rows="7" cols="60"></textarea>
												<br>													
													<button type="button" class="custom_btn" ng-click="save()">Save</button>  or 
													<button type="button" class="custom_btn" ng-click="disableEditor()">Cancel</button>
											</div>
									</div>

									<div class="row" style="display:none">
										<div class="col-md-6">
											<h2>User Details</h2>
											<ul class="nav show_lst">
												<li><i>Caste :</i> {{user.caste}}</li>
												<li><i>City :</i> {{user.city}}</li>
												<li><i>State :</i> {{user.state}}</li>
												<li><i>Country :</i> {{user.country}}</li>
												<li><i>Hobbies :</i> {{user.hobbies}}</li>
												<li><i>Marital Status :</i> {{user.maritalStatus}}</li>
												<li><i>Mother Tounge :</i> {{user.mothetTounge}}</li>
												<li><i>Nationality :</i> {{user.nationlaity}}</li>
												<li><i>Occupation :</i> {{user.occupation}}</li>
												<li><i>Points :</i> {{user.points}}</li>
												<li><i>Religion :</i> {{user.religion}}</li>
											</ul>
										</div>
									</div>

								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="contact">
								<div class="row">
									<div class="col-md-6">
										<h2>When you see your contact</h2>
										<ul class="nav show_lst">
											<li><i class="fa fa-mobile"></i> {{user.mobileNumber}}</li>
											<li><i class="fa fa-envelope"></i> {{user.emailId}}</li>
											<li><i class="fa fa-map-marker"></i> {{user.city}}, {{user.state}}</li>
											<li><i class="fa fa-birthday-cake"></i> {{user.dob |
												date: 'dd-MM-yyyy'}}</li>
											<li>
												<i class="fa fa-facebook-square" ng-click="facebook()"><a target="_blank" title="{{user.faceBookEmail}}" href="http://{{user.faceBookEmail}}"></a></i>
												<i class="fa fa-google-plus-square" ng-click="googlePlus()"><a target="_blank" title="{{user.faceBookEmail}}" href="http://{{user.twitterEmail}}"></a></i> 
												<i class="fa fa-twitter-square" ng-click="twitter()"<a target="_blank" title="{{user.googlePlusEmail}}" href="http://{{user.googlePlusEmail}}"></a></i> 
											</li>
										</ul>
										<a class="link_out" target="_blank" title="{{user.website}}" href="http://{{user.website}}" >Visit Website</a>
									</div>
									<div class="col-md-6 form_right" style="display:none">
										<h2>When you see your contact</h2>
										<div class="checkbox s_check">
											<input id="email_sign" checked="" type="checkbox"> <label
												for="email_sign">Press enter to send</label>
										</div>

										<input class="form-control" type="phone" placeholder="Phone">
										<input class="form-control" type="text" placeholder="Website">
										<input class="form-control" type="text" placeholder="Address">
										<input class="form-control" type="text" placeholder="Website">
										<h4>social link</h4>
										<input class="form-control" type="text" placeholder="Facebook" value="{{user.faceBookEmail}}">
										<input class="form-control" type="text" placeholder="Google+" value="{{user.googlePlusEmail}}">
										<input class="form-control" type="text" placeholder="Twitter" value="{{user.twitterEmail}}">
									</div>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane" id="connection">
								<h2 class="inline">
									UserName <span class="gry_txt txt_18">{{user.name}}</span>
								</h2>
								<h2 class="pro inline m_l15">Pro NDA</h2>
								<a class="custom_btn inline m_t20 m_l15"
									href="javascript:void(0)"><i class="fa fa-plus"></i> Add
									Connection</a>
								<hr>
								<h2>See User's connections</h2>
								<a class="custom_btn inline m_t20 m_l15"
									href="javascript:void(0)"><i class="fa fa-user-plus"></i>
									All Connections</a>
								<div class="clearfix"></div>
								<ul class="connect_met">
									<li><a class="red" href="javascript:void(0)">10 Mitual
											Connections</a></li>
									<li><a class="pro" href="javascript:void(0)">130
											Friends</a></li>
									<li><a class="green" href="javascript:void(0)">25 Foe</a></li>
								</ul>
							</div>
							<div role="tabpanel" class="tab-pane" id="political">round
							</div>
						</div>

					</div>
<!-- 					<h2>Leadership Profile</h2> -->
<!-- 					<div class="red_title_bx"> -->
<!-- 						<h2> -->
<!-- 							<span>Sucess Stories</span> of Your Leadership -->
<!-- 						</h2> -->
<!-- 					</div> -->
					<div class="sld_sml_lft">
<!-- 						<div class="related"> -->
<!-- 							<div id="carousel-related" class="carousel slide" -->
<!-- 								data-ride="carousel"> -->
<!-- 								Wrapper for slides -->
<!-- 								<div class="carousel-inner" role="listbox"> -->
<!-- 									<div class="item active"> -->
<!-- 										<div class="col-sm-3"> -->
<!-- 											<img src="images/related.jpg" alt="" height="80"> -->
<!-- 											<p>End the tax on Exchange money</p> -->
<!-- 										</div> -->
<!-- 										<div class="col-sm-3"> -->
<!-- 											<img src="images/related-1.jpg" alt="" height="80"> -->
<!-- 											<p>Black Monday, Economy</p> -->
<!-- 										</div> -->
<!-- 										<div class="col-sm-3"> -->
<!-- 											<img src="images/related-2.jpg" alt="" height="80"> -->
<!-- 											<p>Terrorism, Economy</p> -->
<!-- 										</div> -->
<!-- 										<div class="col-sm-3"> -->
<!-- 											<img src="images/related-3.jpg" alt="" height="80"> -->
<!-- 											<p>Corruption, Economy</p> -->
<!-- 										</div> -->
<!-- 									</div> -->

<!-- 								</div> -->

<!-- 								Controls -->
<!-- 								<a class="left carousel-control" href="#carousel-related" -->
<!-- 									role="button" data-slide="prev"> <span -->
<!-- 									class="fa fa-angle-left" aria-hidden="true"></span> -->
<!-- 								</a> <a class="right carousel-control" href="#carousel-related" -->
<!-- 									role="button" data-slide="next"> <span -->
<!-- 									class="fa fa-angle-right" aria-hidden="true"></span> -->
<!-- 								</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
					</div>

				</div>
				<div class="clearfix"></div>
<!-- 				<div class="box_style"> -->
<!-- 					<h4> -->
<!-- 						Problem Of Naveen Saklani <span class="gry_txt txt_13">@ -->
<!-- 							Rohit_raj</span> -->
<!-- 					</h4> -->
<!-- 					<h3>Need advice where to complain for the travel agency and -->
<!-- 						this and that etc...</h3> -->
<!-- 					<div class="clearfix"></div> -->
<!-- 					<table class="rais_prob"> -->
<!-- 						<tbody> -->
<!-- 							<tr> -->
<!-- 								<td><a href="javascript:void(0)" class="custom_btn">Participate</a></td> -->
<!-- 								<td><span class="head">Related to</span> FIR</td> -->
<!-- 								<td><span class="head">Location</span> Bengaluru</td> -->
<!-- 								<td><span class="head">Department</span> Police, Traffic -->
<!-- 									police</td> -->
<!-- 								<td><span class="head">Status</span><span -->
<!-- 									class="label label-danger">In Progress</span></td> -->
<!-- 							</tr> -->
<!-- 						</tbody> -->
<!-- 					</table> -->
<!-- 					<h4 class="m_t15">Summary of Problem</h4> -->
<!-- 					<div class="media"> -->
<!-- 						<div class="media-left"> -->
<!-- 							<a href="#"> <img alt="" class="media-object" -->
<!-- 								data-src="holder.js/64x64" src="images/refrence_related-2.jpg" -->
<!-- 								data-holder-rendered="true" width=""> -->
<!-- 							</a> -->
<!-- 						</div> -->
<!-- 						<div class="media-body"> -->
<!-- 							<p> -->
<!-- 								Disruption and the next generation of digital technology to the -->
<!-- 								challenges our customers face can we be the change we want to -->
<!-- 								see. The next generation of digital technology to the challenges -->
<!-- 								our customers face can we be the change we want to see. -->
<!-- 								technology to the challenges our customers face can the next -->
<!-- 								generation of digital technology to the challenges our customers -->
<!-- 								face can we be the change we want to see. The next generation of -->
<!-- 								digital technology to the challenges our customers face can <a -->
<!-- 									href="#">More...</a> -->
<!-- 							</p> -->
<!-- 						</div> -->
<!-- 						<div class="clearfix"></div> -->
<!-- 					</div> -->
<!-- 					<h4>Your Contribution on this Problem</h4> -->

<!-- 					<ul class="nav prob_sol"> -->
<!-- 						<li><img class="pull-left m_r10" src="images/icon_file.png" -->
<!-- 							alt=""> -->
<!-- 							<h4>I met the problem raiser and get FIR done</h4> -->
<!-- 							<p> -->
<!-- 								Disruption and the next generation of digital technology to the -->
<!-- 								challenges our customers face can we be the change we want to -->
<!-- 								see. customers face can we be the change we want to see...<a -->
<!-- 									href="#" class="red">View Full Update</a> -->
<!-- 							</p></li> -->
<!-- 						<li><img class="pull-left m_r10" src="images/icon_file.png" -->
<!-- 							alt=""> -->
<!-- 							<h4>I met the problem raiser and get FIR done</h4> -->
<!-- 							<p> -->
<!-- 								Disruption and the next generation of digital technology to the -->
<!-- 								challenges our customers face can we be the change we want to -->
<!-- 								see. customers face can we be the change we want to see...<a -->
<!-- 									href="#" class="red">View Full Update</a> -->
<!-- 							</p></li> -->
<!-- 						<li><img class="pull-left m_r10" src="images/icon_file.png" -->
<!-- 							alt=""> -->
<!-- 							<h4>I met the problem raiser and get FIR done</h4> -->
<!-- 							<p> -->
<!-- 								Disruption and the next generation of digital technology to the -->
<!-- 								challenges our customers face can we be the change we want to -->
<!-- 								see. customers face can we be the change we want to see...<a -->
<!-- 									href="#" class="red">View Full Update</a> -->
<!-- 							</p></li> -->
<!-- 					</ul> -->
<!-- 					<ul class="like_bar"> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-heart"></i> Likes <span>10</span></a></li> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-comment"></i> Comment <span>10</span></a></li> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-share"></i> Share <span>10</span></a></li> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-info-circle"></i> Report post</a></li> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-comments"></i> View All Comments</a></li> -->
<!-- 					</ul> -->
<!-- 					<div class="clearfix"></div> -->
<!-- 					<div class="box_comment"> -->
<!-- 						<img src="images/img_comment.png" class="user_comment" alt=""> -->
<!-- 						<textarea disabled="">..Click on agree or disagree button to write a comment</textarea> -->
<!-- 						<ul class="nav respond_rebut"> -->
<!-- 							<li><a href="javascript:void(0)"><i -->
<!-- 									class="fa fa-paperclip"></i></a></li> -->
<!-- 							<li><a href="javascript:void(0)"><i -->
<!-- 									class="fa fa-picture-o"></i></a></li> -->
<!-- 							<li class="smiley"><img src="images/smiley.png" alt=""> -->
<!-- 								<div class="popup_smiley"> -->
<!-- 									<h2>Select your feeling - Is this link and Coment reflect -->
<!-- 										good journalism?</h2> -->
<!-- 									<ul class="smy_list"> -->
<!-- 										<li><span class="red_neg"><i class="fa fa-minus"></i> -->
<!-- 												<span>Negative</span></span></li> -->
<!-- 										<li><input name="feel" id="sad" type="radio"><label -->
<!-- 											for="sad">Sad</label></li> -->
<!-- 										<li><input name="feel" id="Baised" type="radio"><label -->
<!-- 											for="Baised">Baised</label></li> -->
<!-- 										<li><input name="feel" id="advert" type="radio"><label -->
<!-- 											for="advert">advert</label></li> -->
<!-- 										<li><input name="feel" id="plagrism" type="radio"><label -->
<!-- 											for="plagrism">plagrism</label></li> -->
<!-- 										<li><input name="feel" id="facts" type="radio"><label -->
<!-- 											for="facts">hiding facts</label></li> -->
<!-- 									</ul> -->
<!-- 									<hr> -->
<!-- 									<ul class="smy_list"> -->
<!-- 										<li><span class="red_neg blck"><i -->
<!-- 												class="fa fa-plus"></i> <span>Positive</span></span></li> -->
<!-- 										<li><input name="feel" id="format" type="radio"><label -->
<!-- 											for="format">well format</label></li> -->
<!-- 										<li><input name="feel" id="intresting" type="radio"><label -->
<!-- 											for="intresting">intresting</label></li> -->
<!-- 										<li><input name="feel" id="informative" type="radio"><label -->
<!-- 											for="informative">informative</label></li> -->
<!-- 										<li><input name="feel" id="attractive" type="radio"><label -->
<!-- 											for="attractive">attractive</label></li> -->
<!-- 										<li><input name="feel" id="ethical" type="radio"><label -->
<!-- 											for="ethical">ethical</label></li> -->
<!-- 									</ul> -->

<!-- 								</div></li> -->
<!-- 						</ul> -->

<!-- 						<div class="press"> -->
<!-- 							<input checked="" id="enter" type="checkbox"><label -->
<!-- 								for="enter">Press enter to send</label> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="clearfix"></div> -->
<!-- 				</div> -->

				<div class="clearfix"></div>
<!-- 				<div class="box_style"> -->
<!-- 					<h4> -->
<!-- 						Problem Of Naveen Saklani <span class="gry_txt txt_13">@ -->
<!-- 							Rohit_raj</span> -->
<!-- 					</h4> -->
<!-- 					<h3>Need advice where to complain for the travel agency and -->
<!-- 						this and that etc...</h3> -->
<!-- 					<div class="clearfix"></div> -->
<!-- 					<table class="rais_prob"> -->
<!-- 						<tbody> -->
<!-- 							<tr> -->
<!-- 								<td><a href="javascript:void(0)" class="custom_btn">Participate</a></td> -->
<!-- 								<td><span class="head">Related to</span> FIR</td> -->
<!-- 								<td><span class="head">Location</span> Bengaluru</td> -->
<!-- 								<td><span class="head">Department</span> Police, Traffic -->
<!-- 									police</td> -->
<!-- 								<td><span class="head">Status</span><span -->
<!-- 									class="label label-danger">In Progress</span></td> -->
<!-- 							</tr> -->
<!-- 						</tbody> -->
<!-- 					</table> -->
<!-- 					<h4 class="m_t15">Summary of Problem</h4> -->
<!-- 					<div class="media"> -->
<!-- 						<div class="media-left"> -->
<!-- 							<a href="#"> <img alt="" class="media-object" -->
<!-- 								data-src="holder.js/64x64" src="images/refrence_related-2.jpg" -->
<!-- 								data-holder-rendered="true" width=""> -->
<!-- 							</a> -->
<!-- 						</div> -->
<!-- 						<div class="media-body"> -->
<!-- 							<p> -->
<!-- 								Disruption and the next generation of digital technology to the -->
<!-- 								challenges our customers face can we be the change we want to -->
<!-- 								see. The next generation of digital technology to the challenges -->
<!-- 								our customers face can we be the change we want to see. -->
<!-- 								technology to the challenges our customers face can the next -->
<!-- 								generation of digital technology to the challenges our customers -->
<!-- 								face can we be the change we want to see. The next generation of -->
<!-- 								digital technology to the challenges our customers face can <a -->
<!-- 									href="#">More...</a> -->
<!-- 							</p> -->
<!-- 						</div> -->
<!-- 						<div class="clearfix"></div> -->
<!-- 					</div> -->
<!-- 					<h4>Your Contribution on this Problem</h4> -->

<!-- 					<ul class="nav prob_sol"> -->
<!-- 						<li><img class="pull-left m_r10" src="images/icon_file.png" -->
<!-- 							alt=""> -->
<!-- 							<h4>I met the problem raiser and get FIR done</h4> -->
<!-- 							<p> -->
<!-- 								Disruption and the next generation of digital technology to the -->
<!-- 								challenges our customers face can we be the change we want to -->
<!-- 								see. customers face can we be the change we want to see...<a -->
<!-- 									href="#" class="red">View Full Update</a> -->
<!-- 							</p></li> -->
<!-- 						<li><img class="pull-left m_r10" src="images/icon_file.png" -->
<!-- 							alt=""> -->
<!-- 							<h4>I met the problem raiser and get FIR done</h4> -->
<!-- 							<p> -->
<!-- 								Disruption and the next generation of digital technology to the -->
<!-- 								challenges our customers face can we be the change we want to -->
<!-- 								see. customers face can we be the change we want to see...<a -->
<!-- 									href="#" class="red">View Full Update</a> -->
<!-- 							</p></li> -->
<!-- 						<li><img class="pull-left m_r10" src="images/icon_file.png" -->
<!-- 							alt=""> -->
<!-- 							<h4>I met the problem raiser and get FIR done</h4> -->
<!-- 							<p> -->
<!-- 								Disruption and the next generation of digital technology to the -->
<!-- 								challenges our customers face can we be the change we want to -->
<!-- 								see. customers face can we be the change we want to see...<a -->
<!-- 									href="#" class="red">View Full Update</a> -->
<!-- 							</p></li> -->
<!-- 					</ul> -->
<!-- 					<ul class="like_bar"> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-heart"></i> Likes <span>10</span></a></li> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-comment"></i> Comment <span>10</span></a></li> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-share"></i> Share <span>10</span></a></li> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-info-circle"></i> Report post</a></li> -->
<!-- 						<li><a class="red" href="javascript:void(0)"><i -->
<!-- 								class="fa fa-comments"></i> View All Comments</a></li> -->
<!-- 					</ul> -->
<!-- 					<div class="clearfix"></div> -->
<!-- 					<div class="box_comment"> -->
<!-- 						<img src="images/img_comment.png" class="user_comment" alt=""> -->
<!-- 						<textarea disabled="">..Click on agree or disagree button to write a comment</textarea> -->
<!-- 						<ul class="nav respond_rebut"> -->
<!-- 							<li><a href="javascript:void(0)"><i -->
<!-- 									class="fa fa-paperclip"></i></a></li> -->
<!-- 							<li><a href="javascript:void(0)"><i -->
<!-- 									class="fa fa-picture-o"></i></a></li> -->
<!-- 							<li class="smiley"><img src="images/smiley.png" alt=""> -->
<!-- 								<div class="popup_smiley"> -->
<!-- 									<h2>Select your feeling - Is this link and Coment reflect -->
<!-- 										good journalism?</h2> -->
<!-- 									<ul class="smy_list"> -->
<!-- 										<li><span class="red_neg"><i class="fa fa-minus"></i> -->
<!-- 												<span>Negative</span></span></li> -->
<!-- 										<li><input name="feel" id="sad" type="radio"><label -->
<!-- 											for="sad">Sad</label></li> -->
<!-- 										<li><input name="feel" id="Baised" type="radio"><label -->
<!-- 											for="Baised">Baised</label></li> -->
<!-- 										<li><input name="feel" id="advert" type="radio"><label -->
<!-- 											for="advert">advert</label></li> -->
<!-- 										<li><input name="feel" id="plagrism" type="radio"><label -->
<!-- 											for="plagrism">plagrism</label></li> -->
<!-- 										<li><input name="feel" id="facts" type="radio"><label -->
<!-- 											for="facts">hiding facts</label></li> -->
<!-- 									</ul> -->
<!-- 									<hr> -->
<!-- 									<ul class="smy_list"> -->
<!-- 										<li><span class="red_neg blck"><i -->
<!-- 												class="fa fa-plus"></i> <span>Positive</span></span></li> -->
<!-- 										<li><input name="feel" id="format" type="radio"><label -->
<!-- 											for="format">well format</label></li> -->
<!-- 										<li><input name="feel" id="intresting" type="radio"><label -->
<!-- 											for="intresting">intresting</label></li> -->
<!-- 										<li><input name="feel" id="informative" type="radio"><label -->
<!-- 											for="informative">informative</label></li> -->
<!-- 										<li><input name="feel" id="attractive" type="radio"><label -->
<!-- 											for="attractive">attractive</label></li> -->
<!-- 										<li><input name="feel" id="ethical" type="radio"><label -->
<!-- 											for="ethical">ethical</label></li> -->
<!-- 									</ul> -->

<!-- 								</div></li> -->
<!-- 						</ul> -->
<!-- 						<div class="press"> -->
<!-- 							<input checked="" id="enter" type="checkbox"><label -->
<!-- 								for="enter">Press enter to send</label> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="clearfix"></div> -->
<!-- 				</div> -->
<!-- 				<div class="loader"> -->
<!-- 					<i class="fa fa-spinner fa-spin"></i> <br> Loading... -->
<!-- 				</div> -->
			</div>
		</div>
	</div>
</div>

<!-- The Modal for userPic on click on image -->
<div id="userPerPic_Modal" class="modal fade" role="dialog" index=-1
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">&times;</button>
				<!-- <h4 class="modal-title">{{selectedSentiment.subject}}</h4> -->
			</div>
			<div class="modal-body">
				<img ng-src="data:image/png;base64,{{user.userImages[0].image}}"
					alt="{{user.name}}" id="per_usrModalImg">
			</div>
		</div>
	</div>
</div>
<!-- end of userPic model -->

<!-- The Modal for file upload under change picture for user part -->
<div id="uploadFile" class="modal fade" role="dialog" index=-1
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">&times;</button>
				<h4 class="modal-title">Upload Picture (2MB max)</h4>
			</div>
			<div class="modal-body">
				<!-- <input id="uploadFile" placeholder="Choose File" ng-model="file"  /> -->
				<div id="fileUp" class="fileUpload btn btn-primary">
					<!-- <input ng-model="attachment" get-attachment-file-object type="file" class="upload" id="uploadBtn" placeholder="" required> -->
					<input id="uploadBtn" type="file" accept="image/png, image/jpg, image/jpeg"
						class="upload"
						onchange="angular.element(this).scope().uploadFile(this)"
						ng-model="user.userImages[0].image" />
				</div>
				<h3>{{errormsg }}</h3>
				<!-- <button type="button" class="custom_btn" id="submitImg"  ng-click="updateImage({{attachment}})")>Submit</button>  -->
			</div>
		</div>
	</div>
</div>
<!-- end of file model -->

<!-- The Modal for file upload under change picture for user part -->
<div id="uploadCoverFile" class="modal fade" role="dialog" index=-1
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">

		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">&times;</button>
				<h4 class="modal-title">Upload Picture (2MB max)</h4>
			</div>
			<div class="modal-body">
				<!-- <input id="uploadFile" placeholder="Choose File" ng-model="file"  /> -->
				<div id="fileCoverUp" class="fileUpload btn btn-primary">
					<!-- <input ng-model="attachment" get-attachment-file-object type="file" class="upload" id="uploadBtn" placeholder="" required> -->
					<input id="uploadCoverBtn" type="file" accept="image/png, image/jpg"
						class="upload"
						onchange="angular.element(this).scope().uploadCoverFile(this)" ng-model="coverImgval" />
				</div>
				<h3>{{errormsg }}</h3>
				<!-- <button type="button" class="custom_btn" id="submitImg"  ng-click="updateImage({{attachment}})")>Submit</button>  -->
			</div>
		</div>
	</div>
</div>
<!-- end of file model -->



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
Include all compiled plugins (below), or include individual files as needed
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/typeahead.bundle.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="thirdparties/angular-modules/zingchart-angularjs.js"></script>

 -->