
<style>
ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}

ul.pagination li a.active {
	background-color: #4CAF50;
	color: white;
	border: 1px solid #4CAF50;
}

tr:nth-child(even) {
	background: #e6e6e6
}

tr:nth-child(odd) {
	background: #FFF
}

.margin-top-20 {
	margin-top: 20px !important;
}

.line-height-p {
	line-height: 22px !important;
}

.response-opinion {
	font-size: 14px !important;
	line-height: 20px !important;
}
</style>

<div class="clearfix"></div>

<div class="row">
	<div class="col-md-3 form-group m_l20 pull-right">
		<label class="control-label" for="sort_by">Sort By &nbsp; </label>

		<button class="btn btn-default" ng-click="shortOrderAccording(1)">
			{{OrderStatusbtn}}
			<!-- <button>
				<select id="sort_by" class="form-control">
					<option value="Recent added Sentiment">Degree of Mutual
						Connection</option>
					<option value="3">Profile with images</option>

				</select> -->
	</div>


</div>
<div class="clear15"></div>
<!--
<div class="solve_problem">
	<div class="col-sm-12 col-md-12">
		<div class="clear15"></div>
		<div class="clearfix"></div>
		 <div class="com_ur_byt">
			<div class="head">
				<h2>Compose new BYTE</h2>
				<button class="hid_par">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="body_sec">
				<textarea placeholder="What’s happening?"></textarea>
				<ul class="nav list">
					<li><a href="javascript:void(0)"><i class="fa fa-camera"></i></a></li>
					<li><a href="javascript:void(0)"><i
							class="fa fa-picture-o"></i></a></li>
				</ul>
				<div class="pull-right m_t10">
					<p class="inline m_0 gry_txt txt_13">500 words only</p>
					<a href="javascript:void(0)"
						class="custom_btn inline btn_small m_l15 red">Your Byte</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
-->

<div class="solve_problem">
	<div class="row">


		<!-- type -- USER start -->

		<div class="col-sm-12 col-md-9 gray-border ">
			<h4 ng-if="UserListCount>0" style="border-bottom: 1px solid #ddd;">User
				Search Result</h4>
			<div class="out-bx"
				ng-repeat="result in resultSearch | limitTo:pageSize"
				ng-if="result.componentType == 'User' && $index < 5"
				style="background: white;">
				<div>

					<div class="left_head">
						<!-- <a href="{{result.url}}"> <img src="{{result.imageUrl}}" class="pull-left"
							height="100" /> <img class="pull-left"
							src="data:image/{{result.imageFileType}};base64,{{result.image}}"
							width="100px" height="100px" alt="" />
						</a> -->
						<a href="{{result.url}}"> <!-- <img src="{{result.imageUrl}}" class="pull-left" -->
							<!-- height="100" /> --> <img class="pull-left"
							src="{{result.imageUrl}}" width="100px" height="100px" alt="" />
						</a>
						<!-- <div class="left_head"><img src="data:image/jpg;base64,{{result.image}}" class="pull-left" height="100" alt="image"> -->
					</div>
					<div class="left_head" style="margin-left: 10px; float: left;">
						<div class="rgt-bx margin_lft mar_top">

							<h2>
								<a href="{{result.url}}" title="View {{result.title}}'s Profile">{{result.title}}</a>
							</h2>



							<a href="{{result.url}}" data-toggle="tooltip"
								title="View personality of {{result.title}}"><font size="5"><b>{{result.title}}</b></font><font
								color="grey"> @{{result.user.username}}</font></a>


							<!-- 	{{result.formattedAge}} -->

							<!-- <p class="gray">
							{{result.gender}}{{result.age}}<br> {{result.add}}<br>{{result.metuaConn}}<br>
							<span class="gray_bold">{{result.education}} </span>{{result.education}}<span></span><br>
							<span style="text-decoration: underline">{{result.Association}}</span>
							{{result.Association}} <span><a href="#" class="red_txt"></a></span>
						</p> -->

							<p class="gray search_user_text">
								{{result.user.gender}}, {{result.ageString}} <br>
								{{result.user.city}}, {{result.user.state}}<br>
								<!-- 							4 mutual -->
								<!-- 							Connections including Man Bhagat...<br> -->
								<span class="gray_bold"
									ng-if="result.user.userEducation.length>1">Education | </span>
								{{result.user.userEducation[0]}} <span><a href="#"
									class="red_txt" ng-if="result.user.userEducation.length>2">More...</a></span><br>
								<span style="text-decoration: underline"
									ng-if="result.user.userAssociation.length>2">Association:</span>{{result.user.userAssociation[0]}}
								<span><a href="#" class="red_txt"
									ng-if="result.user.userAssociation.length>2">More...</a></span>
							</p>
						</div>
					</div>

					<!-- <div class="right_head pull-right">
					<a href="#" class="btn" style="margin-left: 0px;"
						ng-class="{'btn-danger btn-danger-c': result.componentType == 'User', 'btn-success btn-success-c': result.componentType == 'Opinion', 'btn-primary btn-primary-c': result.componentType == 'Sentiment'}">{{result.componentType}}</a>
				</div> -->
					<!-- <div class="right_head pull-right"
						ng-if="result.componentType == 'User' && result.connectionStatus=='AddConnection'"> -->

					<!-- <div class="right_head pull-right"
						ng-if="result.componentType == 'User' && result.connectionStatus=='Accepted'">
						<a class="btn btn-default btn-default-c"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;">

							<a class="btn btn-default btn-default-c" style="margin-left: 0px;padding: 10px 10px;border-radius: 0;border: none;margin: 0 4px;"
							 title="This Feature is coming soon!">		 		 Connection
						</a>
					</div> -->


					<!-- <div class="right_head pull-right"
						ng-if="result.componentType == 'User' && result.connectionStatus=='AddConnection'">
						 <a class="btn btn-default btn-default-c" style="margin-left: 0px;padding: 10px 10px;border-radius: 0;border: none;margin: 0 4px;"
							ng-click="OnclickAddConnection(result.id)">							
					
							 <a class="btn btn-default btn-default-c" style="margin-left: 0px;padding: 10px 10px;border-radius: 0;border: none;margin: 0 4px;"
							 title="This Feature is coming soon!">		 			
					 	<i class="fa fa-plus"></i> Add as Connection</a>							
					</div> -->

					<div class="right_head pull-right"
						ng-if="result.componentType == 'User'">
						<!-- <a class="btn btn-default btn-default-c"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;""> -->

						<a class="btn btn-default btn-default-c"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;"
							title="This Feature is coming soon!"> <i class="fa fa-plus"></i>
							Add as Connection
						</a>
					</div>

					<!-- <div class="right_head pull-right"
						ng-if="result.componentType == 'User' && result.connectionStatus=='Pending'">
						<a class="btn btn-default btn-default-c"
							title="This Feature is coming soon!"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;">
							<i class="fa fa-times"></i> Cancel
						</a>
					</div>

					<div class="right_head pull-right"
						ng-if="result.componentType == 'User' && result.connectionStatus=='Pending'">
						<a class="btn btn-default btn-default-c"
							style="margin-left: 0px; padding: 10px 10px; border-radius: 0; border: none; margin: 0 4px;">
							Pending</a>
					</div> -->
					<div class="clearfix"></div>
				</div>
			</div>
			<!--  </div> -->

			<div ng-if="UserListCount>0">
				<a class="alert alert-warning m_t20 col-md-12"
					href="#/viewAllsearchuser?search={{SearchKeyWords}}" role="alert"
					style="text-align: center"> <strong>See All</strong> Results.
				</a>
			</div>

			<div ng-if="DisplayNodata">There are not matching results for
				your search! Please try again with different input.</div>



		</div>
		<!-- type -- USER end -->

		<!-- type -- Opinion start -->
		<div class="col-md-9">
			<h4 ng-if="OpinionListCount>0" style="border-bottom: 1px solid #ddd;">Opinion
				Search result</h4>
			<div class="rebut_opinion"
				ng-repeat="result in resultSearch | limitTo:pageSize"
				ng-if="result.componentType == 'Opinion' &&  $index < rowNum">
				<div class="image_bx" href="{{result.url}}">
					<!-- <a href="{{result.url}}"><img
						src="data:image/{{result.imageFileType}};base64,{{result.image}}"
						alt=""
						src="data:image/{{result.imageFileType}};base64,{{result.image}}"
						width="200"> <span
						ng-class="(result.type == 'Pro') ? 'govt_opinion supp' : 'govt_opinion anti'">{{result.type}}
							Govt Opinion</span> </a> -->

					<a href="{{result.url}}"><img src="{{result.imageUrl}}" alt=""
						src="{{result.imageUrl}}" width="200"> <span
						ng-class="(result.type == 'Pro') ? 'govt_opinion supp' : 'govt_opinion anti'">{{result.type}}
							Govt Opinion</span> </a>

					<!-- <a href=""><img src="{{result.imageUrl}}"></a> -->
					<!-- 	<span class="govt_opinion anti"><a href="{{result.url}}">Anti
					Govt Opinion</a></span> -->
					<h2>
						<a href="/#/viewAllOpinion?id{{result.sentimentId}}">{{result.sentimentCategory}}
						
					</h2>
				</div>



				<div class="right_reb_bx">
					<div class="user_txt">
						<a href="/#/personality?id{{result.userId}}"><img
							ng-src="data:image/{{result.userImages[0].fileType}};base64,{{result.userImages[0].image}}"
							alt="" width="30px" height="30px">
							<h2>
								<a href="/#/personality?id{{result.userId}}">{{result.name}}
									<span>@{{result.userName}}</span>
							</h2>
					</div>
					<ul class="right_top_bx">
						<li>{{result.location}}</li>
						<li><i class="fa fa-clock-o fa-6"></i>
							{{result.formattedAge}}</li>
						<!-- 	<li><a href="#"><i class="fa fa-heart"></i> Like</a></li>
				<li><a href="#"><i class="fa fa fa-share-alt"></i> Share</a></li> -->
					</ul>
					<div class="clearfix"></div>
					<h2 class="margin-top-20 ">
						<a href="{{result.url}}">{{result.title}}</a>
					</h2>
					<!-- <p class="line-height-p">
						{{result.description}}

						<a href="#">More...</a>
					</p> -->
					<p ng-bind-html="result.description"></p>


					<div class="clearfix"></div>
					<div class="text-center">
						<label class="response-opinion">Respond Opinion:</label> <a
							class="{{(result.type == 'Pro') ? 'org_btn' : 'grn_btn'}}"
							href="javascript:void(0)"
							ng-click="setVote($index,result.agreePollId); checkAuth(); agreeClicked=true; disAgreeClicked=false; responseStatus=false;"
							ng-init="agreeClicked=false"
							ng-class="{'btn-grey': disAgreeClicked}">Agree with Opinion</a> <a
							class="{{(result.type == 'Pro') ? 'grn_btn' : 'org_btn'}}"
							href="javascript:void(0)"
							ng-click="setVote($index,result.disAgreePollId); checkAuth(); disAgreeClicked=true; agreeClicked=false; responseStatus=false;"
							ng-init="disAgreeClicked=false"
							ng-class="{'btn-grey': agreeClicked}">Disagree with Opinion</a> <a
							class="see_res" href="javascript:void(0)"
							ng-click="viewOpinion(result.id)">See All Responses</a>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="box_comment"
					ng-init="userResponse; responseStatus=false;">
					<p class="success" ng-show="responseStatus && masterResponseStatus">Your
						response has been created successfully.</p>
					<img src="{{getUserImage()}}" class="user_comment" alt="">
					<p id="rebut_resp_{{$index}}" init-callback contenteditable="false"
						ng-model="userResponse" strip-br="true"
						class="response-input rebut-response"
						placeholder="Enter your response here." maxlength="500"></p>
					<input type="hidden" id="rebut_vote_{{$index}}" />
					<div class="press">
						<input type="button"
							ng-click="addResponse($index, result.id); disAgreeClicked=false; agreeClicked=false; responseStatus=true;"
							value="Submit" class="custom_btn small-btn inline"
							ng-disabled="(!agreeClicked && !disAgreeClicked) || !userResponse.length" />
					</div>
				</div>
			</div>
		</div>
		<div ng-if="OpinionListCount>0">
			<a class="alert alert-warning m_t20 col-md-9" role="alert"
				style="text-align: center"
				href="#/viewAllOpinion?search={{SearchKeyWords}}"> <strong>See
					All</strong> Results.
			</a>
		</div>
		<!-- type -- Opinion end -->


		<!-- type -- Sentiment start -->
		<div class="out-bx"
			ng-repeat="result in resultSearch | limitTo:pageSize"
			ng-if="result.componentType == 'Sentiment'"
			style="background: white;">
			<div>
				<div class="left_head">
					<a href="{{result.url}}"> <img class="pull-left"
						ng-src="data:image/{{result.imageFileType}};base64,{{result.image}}"
						width="102px" height="100px" alt="" />
					</a>
				</div>
				<div class="left_head" style="margin-left: 10px; float: left;">
					<div class="rgt-bx margin_lft mar_top">
						<h2>
							<a href="{{result.url}}">{{result.title}}</a>
						</h2>
						{{result.formattedAge}}
						<p class="gray">{{result.description}}</p>

					</div>
				</div>

				<div class="right_head pull-right">
					<a href="#" class="btn" style="margin-left: 0px;"
						ng-class="{'btn-danger btn-danger-c': result.componentType == 'User', 'btn-success btn-success-c': result.componentType == 'Opinion', 'btn-primary btn-primary-c': result.componentType == 'Sentiment'}">{{result.componentType}}</a>
				</div>
				<!-- 	<div class="right_head pull-right" ng-if="result.componentType == 'User'">
				  <a class="btn btn-default btn-default-c" style="margin-left:0px;" href="{{result.url}}" ><i class="fa fa-plus"></i> Add as Connection</a>
				</div> -->
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- type -- Sentiment end -->



	</div>
	<!-- <div>
		<button ng-disabled="pageButtonDisabled(-1)" ng-click="paginate(-1)">Previous</button>
		&nbsp;&nbsp;
		<button ng-disabled="pageButtonDisabled(1)" ng-click="paginate(1)">Next</button>
		<br /> <br /> Page {{currentPage+1}} of {{totalPages}}
	</div> -->

</div>