<div class="solve_problem" ng-init="initFirst();">
	<div class="row">
		<div class="col-sm-4 col-md-3">
			<div class="trend_tag m_t20">{{trend.name}}</div>
		</div>
		<div class="col-sm-8 col-md-9">
			<a class="trend_cmnt" href="javascript:void(0)">You can comment
				on these trends</a>
			<form class="search_trend" method="get">
				<input placeholder="Search Trends" type="search">
				<button type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
			<div class="clearfix"></div>
			<div class="clearfix"></div>
			<ul class="nav navbar-nav full_tab">
				<li><a class="active" href="javascript:void(0)">Trending
						Items</a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-md-3">
			<div class="clearfix"></div>
			<h2>Top Trends</h2>
			<ul class="nav trend-list" ng-repeat="toptrend in topTrends">
				<li><a href="/#/trends?id={{toptrend.id}}">{{toptrend.title}}<span>
							{{trendCommentCount[toptrend.id]}} Comments</span></a></li>
			</ul>
			<div class="clearfix"></div>
			<br>
			<h2 class="inline">Active Trend users</h2>
			<!--          - <a href="javascript:void(0)" class="link">Refresh</a> - <a href="javascript:void(0)">View All</a> -->
			<ul class="twitter_list sid_rel_ver"
				ng-repeat="topUser in topTrendUser">
				<li class="alert alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button> <span class="left-side"> <img
					ng-click="viewPersonality(topUser.user.id)" 
						ng-src="data:image/png;base64,{{topUser.user.image}}" alt="">
				</span> <span class="right-side">
						<p class="name_lin">
							<a href="javascript:void(0)">{{topUser.user.name}}</a> <span
								class="txt_13 gry_txt">@{{topUser.user.userName}}</span>
						</p>
						<p class="name_lin gry_txt">
							Number of trends <a href="javascript:void(0)" class="red txt_13">
								{{topUser.trendMappingsCount}}</a>
						</p> <!-- <a href="javascript:void(0)" class="custom_btn btn btn_small"><i class="fa fa-user"></i> Follow</a> -->
				</span>
				</li>
			</ul>
		</div>
		<div class="col-sm-8 col-md-9">
			<div class="clearfix"></div>
			<!-- Iterate opinions trend mappings -->
			<div class="out-bx" ng-repeat=" trendMapping in trendMappingsOpinion">
				<div class="trend_bx">
					<div class="trend_bx">
					<img ng-src="data:image/png;base64,{{trendMapping.opinionOutputModel.user.image}}"
									alt="" width="47" class="pull-left m_r10">
										<h2 class="inline">{{trendMapping.opinionOutputModel.user.name}}</h2>
								<span class="gry_txt">@{{trendMapping.opinionOutputModel.user.userName}}
									 <i class="fa fa-clock-o"></i>{{trendMapping.formattedAge}}</span>
						
							<div class="label label-success pull-right"
								ng-click="viewOpinion(trendMapping.opinionOutputModel.id)">View
								Opinion</div>
							<div class="clearfix"></div>
						
					</div>
					<div class="clearfix"></div>
					<hr>
					<div class="discrip">
						<div class="image_bx">
							<img ng-hide="trendMapping.opinionOutputModel.imageUrl" ng-src="data:image/png;base64,{{trendMapping.opinionOutputModel.image}}"
								class="pull-left m_r10">
							<img ng-show="trendMapping.opinionOutputModel.imageUrl" class="pull-left m_r10" src="{{trendMapping.opinionOutputModel.imageUrl}}" />
				 
						</div>
						<h4 class="m_t10">
							 <a href="/#/viewOpinion?id={{trendMapping.opinionOutputModel.id}}">
						{{trendMapping.opinionOutputModel.title}}</a> 
						</h4>
						<p ng-bind-html="trendMapping.opinionOutputModel.text"> </p>
						</div>
						<hr>
						<div>
						<div class="link_cont">
							<label> Link </label><a href="{{trendMapping.opinionOutputModel.link.link}}" target='_blank'>{{trendMapping.opinionOutputModel.link.description}}</a>
						</div>
						<hr>
						
						
						<ul class="nav navbar-nav last-share">
							<li><a href="javascript:void(0)" ng-init="flag1=false"
								ng-click="flag1=true"><i class="fa fa-reply"></i>  Comment</a></li>
								
							<li><a href="javascript:void(0)" data-toggle="tooltip"
								data-placement="bottom" title="Feature Coming Soon!"><i class="fa fa-share-alt"></i> Share</a></li>
							
							<li><a href="javascript:void(0)" data-toggle="tooltip"
								data-placement="bottom" title="Feature Coming Soon!"><i class="fa fa-heart"></i> Like</a><a href="javascript:void(0)"><span></span></a> </li>
			
							<li><a class="red"
								href="javascript:void(0)" ng-show="trendMapping.trendmappingId!=commentsToshow"
								ng-click="showHideComments(trendMapping.trendmappingId,'view');"> View
									All Comments {{trendMappingOpinionComments[trendMapping.trendmappingId].length}}</a>
									<a class="red"
								href="javascript:void(0)" ng-show="trendMapping.trendmappingId==commentsToshow"
								ng-click="showHideComments(trendMapping.trendmappingId,'hide');"> Hide
									All Comments {{trendMappingOpinionComments[trendMapping.trendmappingId].length}}</a>
									</li>
						
						</ul>
						<div class="clearfix"></div>
						<div class="comment" ng-show="flag1==true">
							<img ng-src="data:image/png;base64,{{user.userImages[0].image}}"
								alt="" width="47" class="pull-left m_r10"> 
								<input
								id="Opinion_{{trendMapping.trendmappingId}}" type="text"
								placeholder="Comment...  "> <input id="enter"
								type="submit" value="Submit"
								ng-click="saveOpinionCommnet(trendMapping.trendmappingId,trendMapping.trendmappingId,user.userId,'trend');flag1=false">
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
						
						<br>
						<div ng-show="trendMapping.trendmappingId==commentsToshow"
							ng-repeat="trendComment in trendMappingOpinionComments[trendMapping.trendmappingId] ">
							<div class="opinion_v support ng-scope">
								<div class="user_txt">
									<img
										ng-src="data:image/png;base64,{{trendComment.userOutputModel.image}}"
										alt="" width="30" class="pull-left m_r10">
									<h2 class="inline">{{trendComment.userOutputModel.name}}</h2>
									<span class="gry_txt">@{{trendComment.userOutputModel.userName}}
										<i class="fa fa-clock-o"></i> {{trendComment.formattedAge}}</span>
								</div>
									<div  class="pull-right red"  ng-show=" (showEditDelete == {{trendComment.userOutputModel.id}} )">
									<a class="pull-right red" ><i class="fa fa-pencil-square-o" ng-click="enableEditComment(trendComment.id,trendComment.userOutputModel.id);"></i>
									 <i class="fa fa-trash" ng-click="confirmDeleteComment(trendComment.id,'Opinion',trendComment.userOutputModel.id);"></i>
									 </a>
								</div>
								<div id="comment_text_{{trendComment.id}}" ng-hide="(commentEditable == 'comment_{{trendComment.id}}')">
									<p read-more rm-max="510" rm-text="{{trendComment.comment}}"></p>
								</div>
								<div ng-show="(commentEditable == 'comment_{{trendComment.id}}')">
								<textarea class="pull-left" id="comment_{{trendComment.id}}"
									style="margin: 0px; width: 826px; height: 20px; font-size: 12px; font-weight: 300"
									ng-show="commentEditable == 'comment_{{trendComment.id}}'">{{trendComment.comment}}</textarea>
								<div ng-show="(commentEditable == 'comment_{{trendComment.id}}')"
									class="pull-right red">
									<a class="pull-right red"><i class="fa fa-check-square"
										ng-click="saveEditComment(trendComment.id,'opinion')"></i></a> <a
										class="pull-right red"><i class="fa fa-times"
										ng-click="disableEditComment(trendComment.id)"></i></a>									
								</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<!-- Iterate responses -->
			<div class="out-bx"
				ng-repeat=" trendMapping in trendMappingsResponses">
				<div class="trend_bx">
					<img ng-src="data:image/png;base64,{{trendMapping.responseOutputModel.userImage}}" alt=""
						width="47" class="pull-left m_r10">
					<div class="right_cont">
						<h2 class="inline">{{trendMapping.responseOutputModel.userName}}</h2>
						<span class="gry_txt">@{{trendMapping.responseOutputModel.userName}}
							<i class="fa fa-clock-o"></i> {{trendMapping.formattedAge}}</span>
						<div class="label label-warning pull-right" ng-click="viewResponse(trendMapping.responseOutputModel.opinionId, trendMapping.responseOutputModel.id)">View Response</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<hr>
					<div class="discrip">
						<h4 class="m_t10">
							<a href="javascript:void(0)"></a>
						</h4>
						<p></p>
						{{trendMapping.content}}
						<hr>
						<div class="link_cont">
							<!--  <label>	Link </label><a href="javascript:void(0)">{{trendMapping.link.link}}</a> -->
						</div>
						<hr>
							
						<ul class="nav navbar-nav last-share">
							<li><a href="javascript:void(0)" ng-init="flag1=false"
								ng-click="flag1=true"><i class="fa fa-reply"></i>  Comment</a></li>
								
							<li><a href="javascript:void(0)"><i class="fa fa-share-alt" data-toggle="tooltip"
								data-placement="bottom" title="Feature Coming Soon!"></i> Share</a></li>
							
							<li><a href="javascript:void(0)"><i class="fa fa-heart" data-toggle="tooltip"
								data-placement="bottom" title="Feature Coming Soon!"></i> Like</a><span></span> </li>
			
			
							<li><a  class="red"
								href="javascript:void(0)" ng-show="trendMapping.trendmappingId!=commentsToshow"
								ng-click="showHideComments(trendMapping.trendmappingId,'view');"> View
									All Comments {{trendMappingResponseComments[trendMapping.trendmappingId].length}}</a>
									<a  class="red"
								href="javascript:void(0)" ng-show="trendMapping.trendmappingId==commentsToshow"
								ng-click="showHideComments(trendMapping.trendmappingId,'hide');"> Hide
									All Comments {{trendMappingResponseComments[trendMapping.trendmappingId].length}}</a>
									</li>
			
						
						</ul>
			
						<div class="clearfix"></div>
						<div class="comment" ng-show="flag1==true">
							<img ng-src="data:image/png;base64,{{user.userImages[0].image}}"
								alt="" alt="" width="47" class="pull-left m_r10"> <input
								id="Response_{{trendMapping.trendmappingId}}" type="text"
								placeholder="Comment...  "> <input id="enter"
								type="submit" value="Submit"
								ng-click="saveResponseCommnet(trendMapping.trendmappingId,trendMapping.trendmappingId,user.id,'trend');flag1=false;">
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
						
						<br>
						<div  ng-show="trendMapping.trendmappingId==commentsToshow"
							ng-repeat="trendComment in trendMappingResponseComments[trendMapping.trendmappingId] ">
							<div class="opinion_v support ng-scope">
								<div class="user_txt">
									<img
										ng-src="data:image/png;base64,{{trendComment.userOutputModel.image}}"
										alt="" width="30" class="pull-left m_r10">
									<h2 class="inline">{{trendComment.userOutputModel.name}}</h2>
									<span class="gry_txt">@{{trendComment.userOutputModel.userName}}
										<i class="fa fa-clock-o"></i> {{trendComment.formattedAge}}</span>
								</div>
							<div  class="pull-right red"  ng-hide=" (commentEditable == 'comment_{{trendComment.id}}')">
									<a class="pull-right red" ><i class="fa fa-pencil-square-o"
									 ng-click="enableEditComment(trendComment.id,trendComment.userOutputModel.userId);"></i>
									 <i class="fa fa-trash"
									 ng-click="confirmDeleteComment(trendComment.id,'response',trendComment.userOutputModel.userId);"></i></a>
								</div>
								<div id="comment_text_{{trendComment.id}}" ng-hide="(commentEditable == 'comment_{{trendComment.id}}')">
									<p read-more rm-max="510" rm-text="{{trendComment.comment}}"></p>
								</div>
								<div ng-show="(commentEditable == 'comment_{{trendComment.id}}')">
								<textarea class="pull-left" id="comment_{{trendComment.id}}"
									style="margin: 0px; width: 826px; height: 20px; font-size: 12px; font-weight: 300"
									ng-show="commentEditable == 'comment_{{trendComment.id}}">{{trendComment.comment}}</textarea>
								<div ng-show="(commentEditable == 'comment_{{trendComment.id}}')"
									class="pull-right red">
									<a class="pull-right red"><i class="fa fa-check-square"
										ng-click="saveEditComment(trendComment.id,'response')"></i></a> <a
										class="pull-right red"><i class="fa fa-times"
										ng-click="disableEditComment(trendComment.id)"></i></a>									
								</div>
								</div>
								<br>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>