
<div class="clearfix"></div>
<div id="viewopinion" class="p_container view_opinion">
	<div class="border p_15">
		<div class="row">
			<div class="col-md-9 single_opinion">
				<!--............ ............................div start for opinion............................ -->
				<h2>
					<a class="red" href="javascript:void(0)"> </a> <a class="red"
						href="javascript:void(0)"></a> <a class="red"
						href="javascript:void(0)">
						<textarea id="subject_{{opinion.id}}" style="margin: 0px; width: 926px; height: 31px;"
						 ng-show="subjectEditable">{{opinion.subject}}</textarea>
						<div ng-show="subjectEditable" class="pull-right red" >
						<a class="pull-right red"><i class="fa fa-check-square" ng-click="saveOpinionSubject(opinion.id)"></i></a>
						<a class="pull-right red"><i class="fa fa-times" ng-click="disableEditSubject(opinion.id);"></i></a>
						</div>					
						<a class="pull-right red"  ng-show="showEditDelete == opinion.userOutputModel.id " >
							<i class="fa fa-pencil-square-o" ng-click="enableEditSubject(opinion.id,opinion.userOutputModel.id);"></i>
							<i class="fa fa-trash" ng-click="confirmDeleteOpinion(opinion.id,opinion.userOutputModel.id);"></i>
							
							</a>
						</a>
				<div id="opinion_subject_{{opinion.id}}" ng-hide="subjectEditable">{{opinion.subject}}</div>
				</h2>
				<div >
				 <img class="m_t15" ng-hide="opinion.imageUrl" ng-src="data:image/png;base64,{{opinion.sentimentOutputModel.image}}"alt="" height="350" width="800"/>
				 <img ng-show="opinion.imageUrl" class="m_t15" src="{{opinion.imageUrl}}" alt="" height="350" width="800"/>
				    <!-- src="images/view_opin_banner.jpg" -->
				</div>
				<div class="clearfix"></div>
				<ul class="user_time">
					<li><a href="/#/personality?id={{opinion.userOutputModel.id}}">
					<img width="30px" height="30px" class="pull-left" ng-src="data:image/{{opinion.userOutputModel.imageFileType}};base64,{{opinion.userOutputModel.image}}"
						alt=""></a>
						<span><span>{{opinion.userOutputModel.name}}</span>@{{opinion.userOutputModel.userName}}</span></li>
					<li><span><span>Location</span>
							{{opinion.userOutputModel.currentLocation}}</span></li>
					<li><span><i class="fa fa-clock-o"></i>
							{{opinion.formattedAge}} </span></li>
					<li><span><i class="fa fa-eye"></i> {{opinion.views}}
							Views</span></li>
				</ul>
				<!-- 				<a href="javascript:void(0)" class="pull-right m_t15"><i -->
				<!-- 					class="fa fa-share-alt"></i> Share</a> -->
				<!-- <p>{{opinion.component.description}}<a class="red" href="javascript:void(0)">More</a></p> -->
				<div  class="pull-right red">
				<a class="pull-right red" ng-show="showEditDelete == opinion.userOutputModel.id">
					<i class="fa fa-pencil-square-o" ng-click="enableEditText(opinion.id,opinion.userOutputModel.id);"></i></a>
				</div>
				<div id="opinion_text_{{opinion.id}}" ng-hide="textEditable">
				<p read-more rm-max="510" rm-text="{{opinion.text}}"></p>
				</div>
				<p>
				<div class="link_cont" ng-show='opinion.link'>
					<label> Link </label><a href="{{opinion.link.link}}" target='_blank'>{{opinion.link.description}}</a>
				</div>
				</p>
				<textarea id="text_{{opinion.id}}" style="margin: 0px; width: 926px; height: 31px;" ng-show="textEditable" >{{opinion.text}}</textarea>
				<div ng-show="textEditable" class="pull-right red" >
						<a class="pull-right red"><i class="fa fa-check-square" ng-click="saveOpinionText(opinion.id)"></i></a>
						<a class="pull-right red"><i class="fa fa-times" ng-click="disableEditText(opinion.id);"></i></a>
				</div>					
				<hr>
				<!--........................ opinion div end............................................... -->
				<!-- ....................div start for response(1)..............................  -->
		<form name="responseForm">
			<!-- <div ng-if="opinion.type=='Anti'"> -->
				<!-- <h2> -->
					<!-- <i class="fa fa-pencil"></i> Can you respond to this opinion -->
					<!-- &nbsp; &nbsp;  -->
					<!-- <span class="view_sup">  -->
					<!-- <a 	href="javascript:void(0)" class="btn btn-against" ng-click="getFlagSupport(); agreeClicked=true; disAgreeClicked=false; responseStatus=false; checkAuth();" ng-init="agreeClicked=false" -->
					<!-- ng-class="{'btn-grey':disAgreeClicked  && isUserLoggedIn()}">  Agree with Opinion</a>			 -->
					 <!-- <br> <i class="fa fa-thumbs-up"> </i>{{AgreeCount}} -->
					<!-- </span> -->
					 <!-- <span ng-show="responseForm.flag.$error.required">Please select one type</span>  -->
					 <!-- <span class="view_sup">  -->
						<!-- <a href="javascript:void(0)" class="btn btn-support"  -->
						<!-- ng-click="getFlagAgainst();disAgreeClicked=true; agreeClicked=false; responseStatus=false; checkAuth();" -->
						<!-- ng-init="disAgreeClicked=false" ng-class="{'btn-grey': agreeClicked && isUserLoggedIn()}"> Disagree with Opinion -->
						<!-- </a><br> <i class="fa fa-thumbs-down"></i>{{DisagreeCount}} -->
					 <!-- </span> -->
				<!-- </h2> -->
			<!-- </div> -->
			<fieldset  ng-disabled="showEditDelete == opinion.userOutputModel.id ">
			<div >
				 <span class="red"  ng-show="showEditDelete == opinion.userOutputModel.id ">	
					You can not create response on your opinion &nbsp; &nbsp;
					</span>
				
				<h2>
					<i class="fa fa-pencil"></i>Can you respond to this opinion
					&nbsp; &nbsp;
					
					 <!-- class="btn btn-support" -->
					<span class="view_sup"> 
						<a 	href="javascript:void(0)" class="btn {{(opinion.type == 'Pro') ? 'btn-support' : 'btn-against'}}" ng-click="getFlagSupport(); agreeClicked=true; disAgreeClicked=false; responseStatus=false; checkAuth();" ng-init="agreeClicked=false"
						ng-class="{'btn-grey':disAgreeClicked && isUserLoggedIn()}"> Agree with Opinion</a>	
						<br> <i class="fa fa-thumbs-up"> </i>{{AgreeCount}}
					</span>
					 <span ng-show="responseForm.flag.$error.required">Please select one type</span> 
					 <!-- class="btn btn-against" -->
					 <span class="view_sup"> 
						<a href="javascript:void(0)" class="btn {{(opinion.type == 'Pro') ? 'btn-against' : 'btn-support'}}"
						ng-click="getFlagAgainst();disAgreeClicked=true; agreeClicked=false; responseStatus=false; checkAuth();"
						ng-init="disAgreeClicked=false" ng-class="{'btn-grey': agreeClicked  && isUserLoggedIn()}"> 
						Disagree with Opinion
						</a><br> <i class="fa fa-thumbs-down"></i>{{DisagreeCount}}
					</span>
				</h2>
			</div>
				</fieldset >
					<div class="m_t30"></div>
					<!--.....................div for popup of response(1.1)....................... -->
					 <div class="respond_sec no" id="resno" ng-init="responseStatus=false;">
						<p class="success" ng-show="responseStatus && masterReStatus && !responseNull">Your response has been created successfully.</p>
						<p class="error" ng-show="responseNull">Please enter your response.</p>
						<p class="error" ng-show="textExceedslength">Entered text exceeds 500 characters.</p>
						<p id="respondOpinion" contenteditable ng-model="response1.content" ng-disabled="!isUserLoggedIn()" maxlength="500"
							placeholder="I agree/Disagree, because..." class="form-control-autoSize" 
							required></p>
						<span class="error" style="color: red; font-weight: bold"
							ng-show="responseForm.content.$invalid"> </span>

						<div class="clearfix"></div>

						<div class="clearfix"></div>
						<!-- <div class="answer">
							<div class="search_fld" style="display: block;">
								<input placeholder="e.g. Delhi" type="text">
								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div> -->
						<span class="pull-right gry-txt txt_13"><b>Char Limit:</b>{{500 - response1.content.length}}</span>
						<div class="clearfix"></div>
						<hr>
						<input type="submit" ng-click="openResponse(0, responseForm); disAgreeClicked=false; agreeClicked=false;  responseStatus=true;"
							class="pull-left custom_btn" value="Submit" ng-disabled="!isUserLoggedIn()">
							<div class="title_cont"> 
						    <img ng-src="{{getUserImage()}}" width="30px" height="30px" 
						    <h2>{{userData[0].name}}</h2>
						  </div> 
						<div class="clearfix"></div>
					</div>
				</form>
				<!-- .............................div end for response popup(1.1)............................................... -->
			     </div>
			    <!-- ...........div for left section.................. -->
		 <div class="col-md-3">
				<div class="opinion_support">
					<img src="images/happy_modi.png" alt="">
					<h2 class="m_t15">This Opinion</h2>
					<span ng-class="(opinion.type == 'Pro') ? 'btn btn-support m_t15' : 'btn btn-against m_t15'" >{{opinion.type}} Govt Opinion</span>
				</div>
				<h4>Sentiment</h4>
				<div class="s_thumb_side">
				<div class="sentiment" ng-click="ClickOnSentiment(opinion.sentimentOutputModel.id)"
					<a href=""><img
						ng-src="data:image/png;base64,{{opinion.sentimentOutputModel.image}}"
						alt=height= "50" width="50">
						<h4>{{opinion.sentimentOutputModel.subject}}</h4> </a>
					</div> {{opinion.sentimentOutputModel.relatedSentimentName}} 
				</div>
				<div class="clearfix"></div>
				<label ><font color="#000" >The opinions verdict for the sentiment</font></label>
				<div class="text-center" zingchart id="myChart" zc-json="myJson"
					zc-height=200 zc-width=200 style="display: block;"></div>
					<div>
					<h5 style= "margin-left: 2cm;"> Total Opinions :   {{totalVotes}}</h5>
					</div>
					<div>
					<ul class="graph_details">
							<li class="safron"><span >{{supportPercentage}}%</span>Support
								Govt</li>
							<li class="green"><span >{{againstPercentage}}%</span>Oppose
								Govt</li>
					</ul>
					</div>
				<!-- <img src="images/side_opinion_chart.jpg" alt=""> -->

				<!-- <ul class="nav you_agree">
				<li class="yes">Yes <input type="radio" name="your_opin"
					id="yes_vote"><span> {{ aggregate.support}}</span></li>
				<li class="no">No <input type="radio" name="your_opin"
					id="no_vote"><span> {{ aggregate.against}}</span></label></li>
			</ul> -->
				<!-- <ul class="nav you_agree">
					<li class="yes">Yes <input type="radio" name="your_opin"
						id="yes_vote"  ><label  for="yes_vote" >Click to Vote<span>{{
								support}}</span></label></li>
					<li class="no">No <input type="radio" name="your_opin"
						id="no_vote" ><label ng-click="MyFunction(2)"for="no_vote">Click to Vote<span>{{
								against}}</span></label></li>
				 </ul> -->
				<div class="clearfix"></div>
				 <h4>{{opinion.agreeDisagreePoll.question}}</h4>
				  <span class="red"  ng-show="showEditDelete == opinion.userOutputModel.id ">	
					You can not caste vote on your opinion &nbsp; &nbsp;
					</span>
				 <div ng-class="showEditDelete == opinion.userOutputModel.id ? 'respond_sec no':''">
				  <ul class="nav you_agree">
				  
					<li class="{{(opinion.type == 'Pro') ? 'yes' : 'no'}}">{{opinion.agreeDisagreePoll.pollOptionOutputModels[0].pollOption}}
						<input type="radio" name="your_opin"  ng-checked="poll[0].count == 1" 
						id="doyouagree_{{opinion.agreeDisagreePoll.pollOptionOutputModels[0].id}}">
						<label
						for="{{opinion.agreeDisagreePoll.pollOptionOutputModels[0].id}}"
						ng-click="vote(opinion.agreeDisagreePoll.id, opinion.agreeDisagreePoll.pollOptionOutputModels[0].id,'Poll' )">
							<span>{{poll[0].count}}</span>
					</label>
					</li>
					<li  class="{{(opinion.type == 'Pro') ? 'no' : 'yes'}}">{{opinion.agreeDisagreePoll.pollOptionOutputModels[1].pollOption}}
						<input type="radio" name="your_opin" ng-checked="poll[1].count == 1" ng-disabled="showEditDelete == opinion.userOutputModel.id "
						id="doyouagree_{{opinion.agreeDisagreePoll.pollOptionOutputModels[1].id}}"
						> <label
						for="{{opinion.agreeDisagreePoll.pollOptionOutputModels[1].id}}"
						ng-click="vote(opinion.agreeDisagreePoll.id,opinion.agreeDisagreePoll.pollOptionOutputModels[1].id,'Poll')">
							<span>{{poll[1].count}}</span>
					</label>
					</li>
				</ul>
				</div>
				<div class="clearfix"></div>
				<br>
				<!-- 				<h4>Related Opinion</h4> -->
				<!-- 				<ul class="nav"> -->
				<!-- 					<li><a href="javascript:void(0)">How long have Pakistan -->
				<!-- 							and India had a strained relationship, and what is the cause of -->
				<!-- 							the strain?</a></li> -->
				<!-- 					<li><a href="javascript:void(0)">What are ways an
<!-- 						individual can improve relations between India and Pakistan?</a></li> -->
				<!-- 				</ul> -->
		</div>

			<!-- ................end of left secton div................. -->
		</div>

		<div class="clearfix"></div>
		<ul class="nav navbar-nav filter">
			<li><a ng-class="{ active: isSet(1) }" href ng-click="setTab(1)"
				aria-controls="all">All Response</a></li>
			<li>
				<!-- <a ng-class="{ active: isSet(2) }"  href ng-click="setTab(2)" aria-controls="upvote" >Highest upvote</a></li> -->
		</ul>
		<div class="clearfix"></div>
		<!-- <div class="container">
		<div class="col-sm-12"> -->
	    <div role="tabpanel" id="all" ng-show="isSet(1)">
		<div class="row m_t30">
		<div class="section">
			<div ng-repeat="opinion_response in opinion_responses">
				<div class="col-sm-6" >
                                  <div>
				 <div id="supp_{{opinion_response.id}}" ng-if="opinion_response.flag=='Agree'">  
					<div ng-class="(opinion.type == 'Pro') ?'opinion_v support':'opinion_v against'">
					 <div ng-class="{{opinion_response.id}}=={{respId}} ? 'highlighted':highlighte"> 
					   <div class="highlighte">  <a href="/#/personality?id={{opinion_response.userId}}">
						 <img class="pull-left" width="30px" height="30px"
						 ng-src="data:image/png;base64,{{opinion_response.userImage}}"alt=""></a>
						<div class="cont_detail">
						 <h4>{{opinion_response.userName}} <span class="gry_txt txt_13"></span></h4>
						  <ul class="nav navbar-nav pull-right">
						   <li><i class="fa fa-calendar"></i>
					        {{opinion_response.edited |date:"MM/dd/yyyy 'at' h:mma"}}</li>
						   <li>						
						   </li>
						  <a class="pull-right red" ng-show="showEditDelete == opinion_response.userId" >
						    <i class="fa fa-pencil-square-o" ng-click="enableResponseEditContent(opinion_response.id,opinion_response.userId);"></i>
						    <i class="fa fa-trash" ng-click="confirmDeleteResponse(opinion_response.id,opinion_response.userId);"></i>
						   </a>					
						  </ul>						
					      <div id="response_text_{{opinion_response.id}}" ng-hide="(responseContentEditable == 'response_content_{{opinion_response.id}}')">
							<p read-more rm-max="510" rm-text="{{opinion_response.content}}"></p>						
						   </div>
						   <textarea id="response_content_{{opinion_response.id}}" style="margin: 0px; width: 526px; height: 20px;font-size : 12px;font-weight:300" 
						   ng-show="(responseContentEditable == 'response_content_{{opinion_response.id}}')" >{{opinion_response.content}}</textarea>
						   <div ng-show="(responseContentEditable == 'response_content_{{opinion_response.id}}')" class="pull-right red" >
								<a class="pull-right red"><i class="fa fa-check-square" ng-click="saveResponseEditContent(opinion_response.id)"></i></a>
								<a class="pull-right red"><i class="fa fa-times" ng-click="disableResponseEditContent(opinion.id);"></i></a>
						
						  </div>						
					       <a href="javascript:void(0)"
						   ng-click="voteResponse(opinion_response.pollId,opinion_response.pollOptionsCounts[0].pollOptionId,'Response',opinion_response.id)">Upvoted
						   {{opinion_response.pollOptionsCounts[0].count}}</a> <a
						   href="javascript:void(0)"
						   ng-click="voteResponse(opinion_response.pollId,opinion_response.pollOptionsCounts[1].pollOptionId,'Response',opinion_response.id)">Downvote
						   {{opinion_response.pollOptionsCounts[1].count}}</a> <a
						   href="javascript:void(0)" ng-init="flag1=false" ng-click="flag1=true; bindPinning(opinion_response.id)"> Counter It
						  ({{opinion_response.childResponses.length}})<span
						  class="label label-default">{{opinion_response.childresponse}}</span></a>
					   </div>
						<div class="clearfix"></div>
						
					 <div class="comment" >
						<div class="rebutArea" ng-show="flag1==true">
						  <img class="pull-left" width="30px" height="30px" ng-src="{{getUserImage()}}"alt="">
						    <form name="childResponseForm">
						     <div class="with_btn" >
						       <p id="hello{{opinion_response.id}}" contenteditable name="contentbox" type="text" class="rebut-resp" placeholder="Counter by your argument...  "></p>
						       <span ng-show="childResponseForm.contentbox.$invalid">Content is required</span> <input id="enter" type="submit" value="Comment"
					        	ng-click="save(opinion_response.id,opinion_response.flag,opinion_response.id)">
						    </div>
						   </form>
							
							<!-- display all comment start -->
									    <div ng-repeat="childresponse in opinion_response.childResponses">
						<hr>
                        <div ng-class="{{childresponse.id}}=={{respId}} ? 'highlighted_child':highlighte"> 
					     <div class="highlighte">
					     <a href="/#/personality?id={{childresponse.userId}}">
                         <img class="pull-left" width="30px" height="30px" ng-src="data:image/png;base64,{{childresponse.userImage}}" alt="">
                         </a>
                         <div class="cont_detail hello">
						<h4>{{childresponse.userName}}</h4>
					   <!-- 	<span>1 Vote Show</span> -->
					   
					   	<div  class="pull-right red" ng-show="showEditDelete == childresponse.userId">
							<a class="pull-right red" > &nbsp;&nbsp;
							<i class="fa fa-pencil-square-o" ng-click="enableResponseEditContent(childresponse.id);"></i>
							<i class="fa fa-trash" ng-click="confirmDeleteResponse(childresponse.id);"></i>
							</a>
						</div>
					   <div id="response_text_{{childresponse.id}}" ng-hide="(responseContentEditable == 'response_content_{{childresponse.id}}')">
							<p read-more rm-max="510" rm-text="{{childresponse.content}}"></p>
						</div>
						<div>
						<textarea  class ="pull-left" id="response_content_{{childresponse.id}}" style="margin: 0px; width: 526px; height: 20px;font-size : 12px;font-weight:300" 
						ng-show="(responseContentEditable == 'response_content_{{childresponse.id}}')" ng-bind-html="childresponse.content"></textarea>
						<div ng-show="(responseContentEditable == 'response_content_{{childresponse.id}}')" class="pull-right red" >
								<a class="pull-right red"><i class="fa fa-check-square" ng-click="saveResponseEditContent(childresponse.id)"></i></a>
								<a class="pull-right red"><i class="fa fa-times" ng-click="disableResponseEditContent(childresponse.id);"></i></a>
						
						</div>
						</div>					
						<a href="javascript:void(0)" ng-init="flag2=false"
						ng-click="flag2=true">Reply&nbsp;{{childresponse.childResponses.length}}</a>
						<a href="javascript:void(0)"
						ng-click="voteResponse(childresponse.pollId,childresponse.pollOptionsCounts[0].pollOptionId,'Response',childresponse.id)">Upvoted
						{{childresponse.pollOptionsCounts[0].count}}</a> <a
						href="javascript:void(0)"
						ng-click="voteResponse(childresponse.pollId,childresponse.pollOptionsCounts[1].pollOptionId,'Response',childresponse.id)">Downvote
						{{childresponse.pollOptionsCounts[1].count}}</a>
						<a href="javascript:void(0)" ng-init="flag2=false"
						ng-click="flag2=true">Edit</a>
						<span>{{childresponse.edited
						|date:"MM/dd/yyyy 'at' h:mma"}}</span>
						<div class="comment" ng-show="flag2==true">
						<img class="pull-left" width="30px" heigth="30px" ng-src="{{getUserImage()}}"alt="">
						<div class="with_btn">
							<input id="hello1{{childresponse.id}}" type="text"
							placeholder="Reply by your argument...  "> <input
							id="enter" type="submit" value="Comment"
							ng-click="save1(childresponse.id,opinion_response.flag)">
							</div>
							
						<div class="comment">
							<div ng-repeat="childresp1 in childresponse.childResponses">
							<div class="test">
								<hr>
							<img class="pull-left" width="30px" height="30px"
								ng-src="data:image/png;base64,{{childresp1.userImage}}" alt="">
							<div class="cont_detail hello"> <h4>{{childresp1.userName}}</h4>
								<!-- 	<span>1 Vote Show</span> -->
									<p read-more rm-max="510" rm-text="{{childresp1.content}}"></p>
																				
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</div><!-- hi testing -->
		</div> <!-- hi testing -->
	                   </div>
	         
							<!-- display all comment end -->
						
						
						</div>
					
					    <div class="clearfix"></div>
					    
					    <!-- display one comment start -->
					   
					    <span ng-show="flag1==false" ng-if="opinion_response.childResponses.length>0" ng-init="oneCommentList =opinion_response.childResponses.length">
					    
					    <div ng-repeat="childresponse in opinion_response.childResponses| limitTo: -1">
						<hr>
                        <div ng-class="{{childresponse.id}}=={{respId}} ? 'highlighted_child':highlighte"> 
					     <div class="highlighte">
                         <img class="pull-left" width="30px" height="30px" ng-src="data:image/png;base64,{{childresponse.userImage}}" alt=""><div class="cont_detail hello">
						<h4>{{childresponse.userName}}</h4>
					   <!-- 	<span>1 Vote Show</span> -->
					   
					   	<div  class="pull-right red" ng-show="showEditDelete == childresponse.userId">
							<a class="pull-right red" > &nbsp;&nbsp;
							<i class="fa fa-pencil-square-o" ng-click="enableResponseEditContent(childresponse.id,childresponse.userId);"></i>
							<i class="fa fa-trash" ng-click="confirmDeleteResponse(childresponse.id,childresponse.userId);"></i>
							</a>
						</div>
					   <div id="response_text_{{childresponse.id}}" ng-hide="(responseContentEditable == 'response_content_{{childresponse.id}}')">
							<p read-more rm-max="510" rm-text="{{childresponse.content}}"></p>
						</div>
						<div>
						<textarea  class ="pull-left" id="response_content_{{childresponse.id}}" style="margin: 0px; width: 526px; height: 20px;font-size : 12px;font-weight:300" 
						ng-show="(responseContentEditable == 'response_content_{{childresponse.id}}')"  ng-bind-html="childresponse.content" ></textarea>
						<div ng-show="(responseContentEditable == 'response_content_{{childresponse.id}}')" class="pull-right red" >
								<a class="pull-right red"><i class="fa fa-check-square" ng-click="saveResponseEditContent(childresponse.id)"></i></a>
								<a class="pull-right red"><i class="fa fa-times" ng-click="disableResponseEditContent(childresponse.id);"></i></a>
						
						</div>
						</div>					
						<a href="javascript:void(0)" ng-init="flag2=false"
						ng-click="flag2=true">Reply&nbsp;{{childresponse.childResponses.length}}</a>
						<a href="javascript:void(0)"
						ng-click="voteResponse(childresponse.pollId,childresponse.pollOptionsCounts[0].pollOptionId,'Response',childresponse.id)">Upvoted
						{{childresponse.pollOptionsCounts[0].count}}</a> <a
						href="javascript:void(0)"
						ng-click="voteResponse(childresponse.pollId,childresponse.pollOptionsCounts[1].pollOptionId,'Response',childresponse.id)">Downvote
						{{childresponse.pollOptionsCounts[1].count}}</a>
						<a href="javascript:void(0)" ng-init="flag2=false"
						ng-click="flag2=true">Edit</a>
						<span>{{childresponse.edited
						|date:"MM/dd/yyyy 'at' h:mma"}}</span>
						<div class="comment" ng-show="flag2==true">
						<img class="pull-left" width="30px" heigth="30px" ng-src="{{getUserImage()}}"alt="">
						<div class="with_btn">
							<input id="hello1{{childresponse.id}}" type="text"
							placeholder="Reply by your argument...  "> <input
							id="enter" type="submit" value="Comment"
							ng-click="save1(childresponse.id,opinion_response.flag)">
							</div>
							
						<div class="comment">
							<div ng-repeat="childresp1 in childresponse.childResponses">
							<div class="test">
								<hr>
							<a href="/#/personality?id={{childresp1.userId}}">	
							<img class="pull-left" width="30px" height="30px"
								ng-src="data:image/png;base64,{{childresp1.userImage}}" alt=""></a>
							<div class="cont_detail hello"> <h4>{{childresp1.userName}}</h4>
								<!-- 	<span>1 Vote Show</span> -->
									<p read-more rm-max="510" rm-text="{{childresp1.content}}"></p>
																				
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
		</div><!-- hi testing -->
		</div> <!-- hi testing -->
	                   </div>
	             		</span>
	             <!-- display one comment end -->
	             
	                </div>
	                </div><!-- for highlighted -->
	                </div><!-- testing highlighting  -->
	                </div>
                 </div> 
				  <div id="agst_{{opinion_response.id}}" ng-if="opinion_response.flag=='Disagree'" >
				  <div ng-class="(opinion.type == 'Pro') ?'opinion_v against':'opinion_v support'">
				   <div ng-class="{{opinion_response.id}}=={{respId}} ? 'highlighted':highlighte"> 
					<div class="highlighte">   
											<img class="pull-left" width="30px" height="30px"
												ng-src="data:image/png;base64,{{opinion_response.userImage}}"
												alt="">
											<div class="cont_detail">
												<h4>{{opinion_response.userName}}</h4>
													<ul class="nav navbar-nav pull-right">
														<li><i class="fa fa-calendar"></i>
															{{opinion_response.edited |date:"MM/dd/yyyy 'at' h:mma"}}</li>
														<li>
															<!-- <i class="fa fa-clock-o"></i> -->
														</li>
														<a class="pull-right red"
															ng-show="showEditDelete == opinion_response.userId">
															<i class="fa fa-pencil-square-o"
															ng-click="enableResponseEditContent(opinion_response.id,opinion_response.userId);"></i>
															<i class="fa fa-trash" ng-click="confirmDeleteResponse(opinion_response.id,opinion_response.userId);"></i>
														</a>
													</ul>
													<div id="response_text_{{opinion_response.id}}"
														ng-hide="(responseContentEditable == 'response_content_{{opinion_response.id}}')">
														<p read-more rm-max="510"
															rm-text="{{opinion_response.content}}"></p>
													</div>
													<textarea id="response_content_{{opinion_response.id}}"
														style="margin: 0px; width: 526px; height: 20px; font-size: 12px; font-weight: 300"
														ng-show="(responseContentEditable == 'response_content_{{opinion_response.id}}')">{{opinion_response.content}}</textarea>
													<div
														ng-show="(responseContentEditable == 'response_content_{{opinion_response.id}}')"
														class="pull-right red">
														<a class="pull-right red"><i
															class="fa fa-check-square"
															ng-click="saveResponseEditContent(opinion_response.id)"></i></a>
														<a class="pull-right red"><i class="fa fa-times"
															ng-click="disableResponseEditContent(opinion.id);"></i></a>

													</div>

													<a href="javascript:void(0)"
												   
													ng-click="voteResponse(opinion_response.pollId,opinion_response.pollOptionsCounts[0].pollOptionId,'Response',opinion_response.id)">Upvoted
													{{opinion_response.pollOptionsCounts[0].count}}</a> <a
													href="javascript:void(0)"
													ng-click="voteResponse(opinion_response.pollId,opinion_response.pollOptionsCounts[1].pollOptionId,'Response',opinion_response.id)">Downvote
													{{opinion_response.pollOptionsCounts[1].count}}</a> <a
													href="javascript:void(0)" ng-init="flag1=false"
													ng-click="flag1=true;bindPinning(opinion_response.id)"> Counter It
													({{opinion_response.childResponses.length}}) <span
													class="label label-default">{{opinion_response.childresponse}}</span>
												</a>
											</div>
											<div class="clearfix"></div>
											<div class="comment">
											<div class="rebutArea"ng-show="flag1==true">
												<img class="pull-left" width="30px" height="30px"
													ng-src="{{getUserImage()}}"
													alt="">
													<form name="childResponseForm">
														    <div class="with_btn" >
														       <p id="hello{{opinion_response.id}}" contenteditable name="contentbox" type="text" class="rebut-resp" placeholder="Counter by your argument...  "></p>
														       <span ng-show="childResponseForm.contentbox.$invalid">Content is required</span> <input id="enter" type="submit" value="Comment"
													        	ng-click="save(opinion_response.id,opinion_response.flag,opinion_response.id)">
														    </div>
														 
													</form>
                                            
                                            	<!-- display all comment start -->
                                            			<div	ng-repeat="childresponse in opinion_response.childResponses">
														<hr>
														
					                             <div ng-class="{{childresponse.id}}=={{respId}} ? 'highlighted_child':highlighte"> 
					                                    <div class=":highlighte">
														<img class="pull-left" width="30px" height="30px"
															ng-src="data:image/png;base64,{{childresponse.userImage}}"
															alt="">
														<div class="cont_detail hello">
															<h4>{{childresponse.userName}}</h4>
															<!-- 		<span>1 Vote Show</span> -->
															  <!-- 	<span>1 Vote Show</span> -->
					   
					   		<div  class="pull-right red" ng-show="showEditDelete == childresponse.userId">
							<a class="pull-right red" > &nbsp;&nbsp;
							<i class="fa fa-pencil-square-o" ng-click="enableResponseEditContent(childresponse.id);"></i>
							<i class="fa fa-trash" ng-click="confirmDeleteResponse(childresponse.id);"></i>
							</a>
						</div>
					   <div id="response_text_{{childresponse.id}}" ng-hide="(responseContentEditable == 'response_content_{{childresponse.id}}')">
							<p read-more rm-max="510" rm-text="{{childresponse.content}}"></p>
						</div>
						<div>
						<textarea  class ="pull-left" id="response_content_{{childresponse.id}}" style="margin: 0px; width: 526px; height: 20px;font-size : 12px;font-weight:300" 
						ng-show="(responseContentEditable == 'response_content_{{childresponse.id}}')" >{{childresponse.content}}</textarea>
						<div ng-show="(responseContentEditable == 'response_content_{{childresponse.id}}')" class="pull-right red" >
								<a class="pull-right red"><i class="fa fa-check-square" ng-click="saveResponseEditContent(childresponse.id)"></i></a>
								<a class="pull-right red"><i class="fa fa-times" ng-click="disableResponseEditContent(childresponse.id);"></i></a>
						
						</div>
						</div>					
					
															<a href="javascript:void(0)" ng-init="flag2=false"
																ng-click="flag2=true">Reply&nbsp;{{childresponse.childResponses.length}}</a>
															<a href="javascript:void(0)"
																ng-click="voteResponse(childresponse.pollId,childresponse.pollOptionsCounts[0].pollOptionId,'Response',childresponse.id)">Upvoted
																{{childresponse.pollOptionsCounts[0].count}}</a> <a
																href="javascript:void(0)"
																ng-click="voteResponse(childresponse.pollId,childresponse.pollOptionsCounts[1].pollOptionId,'Response',childresponse.id)">Downvote
																{{childresponse.pollOptionsCounts[1].count}}</a><span>{{childresponse.edited
																|date:"MM/dd/yyyy 'at' h:mma"}}</span>
															<div class="comment" ng-show="flag2==true">
																<img class="pull-left" width="30px" heigth="30px"
																	ng-src="{{getUserImage()}}"
																	alt="">
																<div class="with_btn">
																	<input id="hello1{{childresponse.id}}" type="text"
																		placeholder="Reply by your argument...  "> <input
																		id="enter" type="submit" value="Comment"
																		ng-click="save1(childresponse.id,opinion_response.flag)">
																</div>
																<!-- .......................div for reply on childResponse........................ -->
																<div class="comment">
																	<div
																		ng-repeat="childresp1 in childresponse.childResponses">
																	
																		<div class="test">
																		<hr>
																			<img class="pull-left" width="30px" height="30px"
																				ng-src="data:image/png;base64,{{childresp1.userImage}}"
																				alt="">
																			<div class="cont_detail hello">
																				<h4>{{childresp1.userName}}</h4>
																				<!-- <span>1 Vote Show</span> -->
																				<p read-more rm-max="510" rm-text="{{childresp1.content}}"></p>
							

																		</div>
																	</div>
																</div>
															</div>

														</div>
														</div><!-- test highlight child response -->
														</div><!-- test highlight child response -->

													</div>
												<!-- </div> -->
											</div>
								               		<!-- display all comment end -->
                                            
                                             </div>

												<div class="clearfix"></div>
												<!-- <hr> -->
												<!-- <div class="test"> -->
											<!-- display one comment start -->
												
										  <span ng-show="flag1==false" ng-if="opinion_response.childResponses.length>0" ng-init="oneCommentList =opinion_response.childResponses.length">
													<div ng-repeat="childresponse in opinion_response.childResponses | limitTo: -1">
														<hr>
														
					                             <div ng-class="{{childresponse.id}}=={{respId}} ? 'highlighted_child':highlighte"> 
					                                    <div class=":highlighte">
														<img class="pull-left" width="30px" height="30px"
															ng-src="data:image/png;base64,{{childresponse.userImage}}"
															alt="">
														<div class="cont_detail hello">
															<h4>{{childresponse.userName}}</h4>
															<!-- 		<span>1 Vote Show</span> -->
															  <!-- 	<span>1 Vote Show</span> -->
					   
					   		<div  class="pull-right red" ng-show="showEditDelete == childresponse.userId">
							<a class="pull-right red" > &nbsp;&nbsp;
							<i class="fa fa-pencil-square-o" ng-click="enableResponseEditContent(childresponse.id,childresponse.userId);"></i>
							<i class="fa fa-trash" ng-click="confirmDeleteResponse(childresponse.id,childresponse.userId);"></i>
							</a>
						</div>
					   <div id="response_text_{{childresponse.id}}" ng-hide="(responseContentEditable == 'response_content_{{childresponse.id}}')">
							<p read-more rm-max="510" rm-text="{{childresponse.content}}"></p>
						</div>
						<div>
						<textarea  class ="pull-left" id="response_content_{{childresponse.id}}" style="margin: 0px; width: 526px; height: 20px;font-size : 12px;font-weight:300" 
						ng-show="(responseContentEditable == 'response_content_{{childresponse.id}}')" >{{childresponse.content}}</textarea>
						<div ng-show="(responseContentEditable == 'response_content_{{childresponse.id}}')" class="pull-right red" >
								<a class="pull-right red"><i class="fa fa-check-square" ng-click="saveResponseEditContent(childresponse.id)"></i></a>
								<a class="pull-right red"><i class="fa fa-times" ng-click="disableResponseEditContent(childresponse.id);"></i></a>
						
						</div>
						</div>					
					
															<a href="javascript:void(0)" ng-init="flag2=false"
																ng-click="flag2=true">Reply&nbsp;{{childresponse.childResponses.length}}</a>
															<a href="javascript:void(0)"
																ng-click="voteResponse(childresponse.pollId,childresponse.pollOptionsCounts[0].pollOptionId,'Response',childresponse.id)">Upvoted
																{{childresponse.pollOptionsCounts[0].count}}</a> <a
																href="javascript:void(0)"
																ng-click="voteResponse(childresponse.pollId,childresponse.pollOptionsCounts[1].pollOptionId,'Response',childresponse.id)">Downvote
																{{childresponse.pollOptionsCounts[1].count}}</a><span>{{childresponse.edited
																|date:"MM/dd/yyyy 'at' h:mma"}}</span>
															<div class="comment" ng-show="flag2==true">
																<img class="pull-left" width="30px" heigth="30px"
																	ng-src="{{getUserImage()}}"
																	alt="">
																<div class="with_btn">
																	<input id="hello1{{childresponse.id}}" type="text"
																		placeholder="Reply by your argument...  "> <input
																		id="enter" type="submit" value="Comment"
																		ng-click="save1(childresponse.id,opinion_response.flag)">
																</div>
																<!-- .......................div for reply on childResponse........................ -->
																<div class="comment">
																	<div
																		ng-repeat="childresp1 in childresponse.childResponses">
																	
																		<div class="test">
																		<hr>
																			<img class="pull-left" width="30px" height="30px"
																				ng-src="data:image/png;base64,{{childresp1.userImage}}"
																				alt="">
																			<div class="cont_detail hello">
																				<h4>{{childresp1.userName}}</h4>
																				<!-- <span>1 Vote Show</span> -->
																				<p read-more rm-max="510" rm-text="{{childresp1.content}}"></p>
							

																		</div>
																	</div>
																</div>
															</div>

														</div>
														</div><!-- test highlight child response -->
														</div><!-- test highlight child response -->

													</div>
												<!-- </div> -->
											</div>
										  </span>
											<!-- display one comment end -->
											
								</div><!-- testing hoghlighting -->
					</div> <!-- div for highlight -->
				  </div>
				 </div>
			     </div>
				
						</div>	  
			</div>
			
		</div>
		</div>
		</div>
<!-- 		<div class="loader"> -->
<!-- 				<i class="fa fa-spinner fa-spin"></i> <br> Loading... -->
<!-- 		</div> -->
		</div>
		
			<div class="col-sm-6">

				
			</div>
			
	</div>
</div>
			

			

