
<!--  Home page starts here-->
<div class="custom_row">
	<div style="    left: 33%;
    position: relative;
    width: 36%;">
    <h2> <span> Opinion Notifications </span></h2>
			<div 
			style="border-bottom: 1px solid #ddd;
    					display: inline-block;
    					padding-bottom: 15px;
    					padding-top: 15px;
    					width: 70%;
    					    margin-top: 10px;"
    					    
			ng-repeat="top in TopnotificationCount"
				ng-class="{'unreadli':top.status == 'Unread'}"
				ng-click="changeStatus(top)">
				<span class="opin_noti">
					<a href="#/viewOpinion?id={{top.id}}">{{top.title}}</a> 
					
					<span class="verd_sup" ng-class="{true: 'protype', false: 'antitype'}[top.type == 'Pro']">{{top.type}}</span>
					
					<div ></div> <span class="time"><i
						></i> {{top.formattedAge}}</span><span><a
						href="#/personality?id={top.user.id}"><img src="{{top.imageUrl}}" alt="" width="15">
							{{top.user.title}}</a></span><span class="senti">{{top.category}}</span>
			</span>
	
	</div>
<!--Jahid-->