<!--  Home page starts here-->

<div class="custom_row">
	<div style="    left: 33%;
    position: relative;
    width: 36%;">
		<h2> <span> Notification </span></h2>
			<div 
				style="border-bottom: 1px solid #ddd;
    					display: inline-block;
    					padding-bottom: 15px;
    					padding-top: 15px;
    					width: 70%;
    					    margin-top: 10px;"
			
			
			ng-repeat="top in GeneralnotificationCount"
				ng-class="{'unreadli':top.status == 'Unread'}"
				ng-click="changeStatus(top)">
				<span class="opin_noti">
					<span class="type_vid">
						<a href="#/personality?id={{top.user.id}}"><img src="{{top.imageUrl}}" alt="" height="51" width="51"></a></span>
							
					
					<span class="right_bx">
					
						<a href="#/personality?id={{top.user.id}}" style="margin-left:10px;font-size:18px">{{top.user.title}}</a> 
						
						<span style="font-size: 14px;color: #999;margin: 0 5px 0 5px"> {{top.title.split('$')[1]}} </span> 
						
						 <a style="font-size:18px""href="#/viewOpinion?id={{top.id}}">{{top.componetType}}</a>.
						
						
					</span>
					
					<div ></div> <span class="time" style="font-size:12px"><i
						></i> {{top.formattedAge}}</span>
			</span>
	
		</div>
</div>

<!--Jahid-->